target
build
*.iml
derby.log
${plexus.home}
archiva-modules/archiva-web/archiva-webapp/appserver-base/
archiva-modules/archiva-web/archiva-webapp/overlays/
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/archiva-applet.jar
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/META-INF/
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/css/redback/
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/images/redback/
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/template/redback/
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/WEB-INF/classes/
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/WEB-INF/jsp/redback/
archiva-modules/archiva-web/archiva-webapp/src/main/webapp/WEB-INF/lib/
archiva-modules/archiva-web/archiva-webapp-test/cargo-installs/
