target
build

#idea files
*.iml
.idea
*.ipr
*.iws
out/

#jenv
.java-version

.DS_Store
.extract
.site-content/

#eclipse files
.project
.classpath
.settings/

#netbeans file
nbactions.xml
nb-configuration.xml
