language: java
jdk:
  - oraclejdk8

before_install: "mvn clean install -DskipTests=true -B -V -Pci-build"

script: "mvn clean install -B -V -Pit-js -Pci-build"

cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
notifications:
    email:
        - olamy@apache.org
