<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<form class="mt-3 mb-3" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <div class="form-group col-md-8">
            <label for="userId">{{'users.attributes.user_id' |translate}}</label>
            <input type="text" class="form-control" formControlName="userId" id="userId"
                   [ngClass]="valid('userId')"
                   placeholder="{{'users.input.user_id'|translate}}">
            <small>{{'users.input.small.user_id'|translate}}</small>
        </div>
        <div class="form-group col-md-8">
            <label for="fullName">{{'users.attributes.full_name' |translate}}</label>
            <input type="text" class="form-control" formControlName="fullName" id="fullName"
                   [ngClass]="valid('fullName')"
                   placeholder="{{'users.input.full_name'|translate}}">
            <small>{{'users.input.small.full_name'|translate}}</small>
        </div>
        <div class="form-group col-md-8">
            <label for="email">{{'users.attributes.email' |translate}}</label>
            <input type="text" class="form-control" formControlName="email" id="email"
                   [ngClass]="valid('email')"
                   placeholder="{{'users.input.email'|translate}}">
        </div>
        <div class="form-group col-md-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" formControlName="locked" id="locked">
                <label class="form-check-label" for="locked">
                    {{'users.attributes.locked'|translate}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" formControlName="passwordChangeRequired"
                       id="password_change_required" checked>
                <label class="form-check-label" for="password_change_required">
                    {{'users.attributes.password_change_required'|translate}}
                </label>
            </div>
        </div>
        <div class="form-group col-md-8">
        <button class="btn btn-primary" type="submit"
                [disabled]="!userForm.valid">{{'users.add.submit'|translate}}</button>
        </div>
    </fieldset>


</form>
