body {
  background-color: #dddddd;
  color: #777777;
}

.clear {
  clear: both;
}

#banner {
  background-color: #c0c0c0;
  padding: 10px 5px 0px 5px;
  margin: 0px;
}

#banner h1 {
  font-size: 1.5em;
}

#banner a {
  color: #888888;
  text-decoration: none;
}

#breadcrumbs {
  background-color: #cccccc;
  margin: 0px;
  font-size: 0.9em;
  padding: 5px;
  border-bottom: 1px solid #aaaaaa;
}

#breadcrumbs a {
	color: #888888;	
}

#breadcrumbs .xright {
  float:right;
}

.securityLinks {
  background-color: white;
  border: 1px solid black;
  padding: 2px;
  color: black;
}

.securityLinks a {
  color: black !important;
}

.securityLinks .admin {
  background-color: #ffdddd;
  color: red;
}

.securityLinks .admin a {
  color: red !important;
}

#nestedContent {
  margin: 0px 30px 30px 30px;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

#nestedContent .wwFormTable .errorMessage {
  font-size: 0.8em;
  font-weight: bold;
}


#xworkinfo {
  font-size: 0.7em;
}

#footer {
  border-top: 1px solid #aaaaaa;
  font-size: 0.9em;
}

#footer .xright {
  float: right;
}

.note {
  margin: 30px 0px 0px 30px;
  padding-bottom: 0px;
  font-size: 0.6em;
  color: gray;
  font-style: italic;
}

.errorMessage,
.errorLabel {
  color: red;
}

.required {
  color: red;
}


