<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<div id="modal-user-edit" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>${$.i18n.prop('password.section.title')}</h3>
  </div>
  <div class="modal-body" id="modal-user-edit-content">
      <form id="user-edit-form" class="form-horizontal">
        <div id="modal-user-edit-err-message" class="alert-message error" style="display:none"></div>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="username">${$.i18n.prop('username')}</label>
            <div class="controls" id="username-div">
              <span class="uneditable-input" id="username"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="fullname">${$.i18n.prop('full.name')}</label>
            <div class="controls">
              <input type="text" id="fullname" name="fullname" size="30" class="required"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">${$.i18n.prop('email.address')}</label>
            <div class="controls">
              <input type="text" id="email" name="email" size="30" class="required email"/>
            </div>
          </div>
          <div class="control-group" id="user-edit-form-current-password-div">
            <label class="control-label" for="userEditFormCurrentPassword">${$.i18n.prop('password.existing')}</label>
            <div class="controls">
              <input type="password" id="userEditFormCurrentPassword" name="userEditFormCurrentPassword" class="required" value=""/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="userEditFormNewPassword">${$.i18n.prop('password.new')}</label>
            <div class="controls">
              <input type="password" id="userEditFormNewPassword" name="userEditFormNewPassword" class="" value=""/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="userEditFormNewPasswordConfirm">${$.i18n.prop('password.new.confirm')}</label>
            <div class="controls">
              <input type="password" id="userEditFormNewPasswordConfirm" name="userEditFormNewPasswordConfirm" class="" value=""/>
            </div>
          </div>
        </fieldset>
      </form>
  </div>
  <div class="modal-footer" id="modal-user-edit-footer">
    <button class="btn primary" onclick="return" id="modal-user-edit-ok">${$.i18n.prop('ok')}</button>
  </div>
</div>