/*!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/alert';

app-toasts {
  margin:.5em;
  padding:1em;
  position:fixed;
  right:10px;
  top:40px;
  z-index:1200;
}

.toast {
  max-width: 350px;
  font-size: 0.875rem;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

ngb-toast.alert {
  @extend .alert;
}

@each $color, $value in $theme-colors {
  ngb-toast.alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
      .toast-header {
        display: flex;
        align-items: center;
        padding: $toast-padding-y $toast-padding-x;
        color: theme-color-level($color, $alert-color-level) !important;
        background-color: theme-color-level($color, $alert-bg-level) !important;
        background-clip: padding-box;
        border-bottom: $toast-border-width solid $toast-header-border-color;
        @include border-top-radius(subtract($toast-border-radius, $toast-border-width));
      }
  }

}
