<document>
  <properties>
    <title>Maven Repository Manager</title>
  </properties>
  <body>
    <h1>Configuration</h1>

    <div id="contentArea">
      <div id="searchBox">
        <form method="post" action="index.html">
          <p>
            Index Location:
            <input type="text" size="100"/>
          </p>
          <p>
            Indexing Cron Expression:
            <input type="text"/>
          </p>
          <p>
            <input type="submit" value="Save Configuration"/>
          </p>
        </form>
      </div>
    </div>
  </body>
</document>

