<document>
  <properties>
    <title>Archiva</title>
  </properties>
  <body>
    <h1>Configuration</h1>
    <div id="sidebar">
      <p>reserved sidebar</p>
    </div>


    <div id="contentArea">
      <div id="searchBox">
        <form method="post" action="index.html">
          <table>
            <tr>
              <th>Index Location:</th>
              <td>
                <input type="text" size="100"/>
              </td>
            </tr>
            <tr>
              <th>Indexing Schedule:</th>
              <td>
                <table width="100%">
                  <tr>
                    <th><i>Seconds:</i></th>
                    <td><input type="text" size="10" value="0" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Minutes:</i></th>
                    <td><input type="text" size="10" value="0" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Hours:</i></th>
                    <td><input type="text" size="10" value="*" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Day of Month:</i></th>
                    <td><input type="text" size="10" value="*" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Month:</i></th>
                    <td><input type="text" size="10" value="*" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Day of Week:</i></th>
                    <td><input type="text" size="10" value="?" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Year: (optional)</i></th>
                    <td><input type="text" size="10" value="2006" align="right"/></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <th>Reporting Schedule:</th>
              <td>
                <table width="100%">
                  <tr>
                    <th><i>Seconds:</i></th>
                    <td><input type="text" size="10" value="0" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Minutes:</i></th>
                    <td><input type="text" size="10" value="0" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Hours:</i></th>
                    <td><input type="text" size="10" value="*" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Day of Month:</i></th>
                    <td><input type="text" size="10" value="*" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Month:</i></th>
                    <td><input type="text" size="10" value="*" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Day of Week:</i></th>
                    <td><input type="text" size="10" value="?" align="right"/></td>
                  </tr>
                  <tr>
                    <th><i>Year: (optional)</i></th>
                    <td><input type="text" size="10" value="2006" align="right"/></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <p>
            <input type="submit" value="Save Configuration"/>
          </p>
          <p>
          <i>* For valid cron expression values, see <a href="http://www.opensymphony.com/quartz/api/org/quartz/CronExpression.html">here</a>.</i>
          </p>
        </form>
      </div>
    </div>
  </body>
</document>

