<?xml version="1.0"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-lazy-init="true">

  <bean name="securitySystem#testable" class="org.codehaus.plexus.redback.system.DefaultSecuritySystem">
    <property name="userManager" ref="userManager#memory"/>
    <property name="keyManager" ref="keyManager#memory"/>
  </bean>

  <alias name="securitySystem#testable" alias="securitySystem"/>

  <bean name="userRepositories" class="org.apache.maven.archiva.security.DefaultUserRepositories">
    <property name="securitySystem" ref="securitySystem#testable"/>
    <property name="roleManager" ref="roleManager"/>
    <property name="archivaConfiguration" ref="archivaConfiguration"/>
  </bean>

  <bean name="authorizer#rbac" class="org.codehaus.plexus.redback.authorization.rbac.RbacAuthorizer">
    <property name="manager" ref="rBACManager#memory"/>
    <property name="userManager" ref="userManager#memory"/>
    <property name="evaluator" ref="permissionEvaluator"/>
  </bean>

  <bean name="permissionEvaluator" class="org.codehaus.plexus.redback.authorization.rbac.evaluator.DefaultPermissionEvaluator">
    <property name="userManager" ref="userManager#memory"/>
  </bean>

  <bean name="roleManager" class="org.codehaus.plexus.redback.role.DefaultRoleManager">
    <property name="rbacManager" ref="rBACManager#memory"/>
  </bean>

  <bean name="rBACManager#cached" class="org.codehaus.plexus.redback.rbac.cached.CachedRbacManager">
    <property name="rbacImpl" ref="rBACManager#memory"/>
  </bean>

  <!--


    <component>
      <role>org.codehaus.plexus.redback.role.processor.RoleModelProcessor</role>
      <role-hint>default</role-hint>
      <implementation>org.codehaus.plexus.redback.role.processor.DefaultRoleModelProcessor</implementation>
      <description>DefaultRoleModelProcessor: inserts the components of the model that can be populated into the rbac manager</description>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.redback.rbac.RBACManager</role>
          <role-hint>memory</role-hint>
          <field-name>rbacManager</field-name>
        </requirement>
      </requirements>
    </component>

    <component>
      <role>org.codehaus.plexus.redback.role.template.RoleTemplateProcessor</role>
      <role-hint>default</role-hint>
      <implementation>org.codehaus.plexus.redback.role.template.DefaultRoleTemplateProcessor</implementation>
      <description>DefaultRoleTemplateProcessor: inserts the components of a template into the rbac manager</description>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.redback.rbac.RBACManager</role>
          <role-hint>memory</role-hint>
          <field-name>rbacManager</field-name>
        </requirement>
      </requirements>
    </component>

    <component>
      <role>org.apache.maven.archiva.configuration.ArchivaConfiguration</role>
      <implementation>org.apache.maven.archiva.configuration.DefaultArchivaConfiguration</implementation>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.registry.Registry</role>
          <role-hint>configured</role-hint>
        </requirement>
      </requirements>
    </component>
    <component>
      <role>org.codehaus.plexus.registry.Registry</role>
      <role-hint>configured</role-hint>
      <implementation>org.codehaus.plexus.registry.commons.CommonsConfigurationRegistry</implementation>
      <configuration>
        <properties>
          <system/>
          <xml fileName="${basedir}/target/test-conf/archiva.xml"
               config-name="org.apache.maven.archiva.base" config-at="org.apache.maven.archiva"/>
        </properties>
      </configuration>
    </component>


    ignored ??

  	<component>
      <role>org.apache.maven.archiva.security.ServletAuthenticator</role>
      <role-hint>default</role-hint>
      <implementation>org.apache.maven.archiva.security.ArchivaServletAuthenticator</implementation>
      <description>ArchivaServletAuthenticator</description>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.redback.system.SecuritySystem</role>
          <role-hint>testable</role-hint>
          <field-name>securitySystem</field-name>
        </requirement>
      </requirements>
    </component>

    partially configured

    <component>
      <role>org.codehaus.plexus.redback.role.RoleManager</role>
      <role-hint>default</role-hint>
      <implementation>org.codehaus.plexus.redback.role.DefaultRoleManager</implementation>
      <description>RoleProfileManager:</description>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.redback.role.validator.RoleModelValidator</role>
          <role-hint>default</role-hint>
          <field-name>modelValidator</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.redback.role.processor.RoleModelProcessor</role>
          <role-hint>default</role-hint>
          <field-name>modelProcessor</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.redback.role.template.RoleTemplateProcessor</role>
          <role-hint>default</role-hint>
          <field-name>templateProcessor</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.redback.rbac.RBACManager</role>
          <role-hint>memory</role-hint>
          <field-name>rbacManager</field-name>
        </requirement>
      </requirements>
    </component>


  -->
</beans>