#*
 * Copyright 2004-2005 The Codehaus.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#


Welcome

Username: $accountId

This account was requested on $requestedOn

Use the following URL to validate your account.

$applicationUrl/$urlPath?validateMe=$authkey

This url will be valid until $expiresOn

Once validated, your account will only have the most basic rights on the system.
Please contact the administrator to be assigned a more appropriate set of Roles
and Permissions.

Please keep this email for future reference.

#if ( $feedback )
Questions/Comments? $feedback
#end


