<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<app-paginated-entities [service]="service" pageSize="5"We #parent>

<table class="table table-striped table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">{{'users.list.table.head.user_id' | translate}}</th>
        <th scope="col">{{'users.list.table.head.fullName' | translate}}</th>
        <th scope="col">{{'users.list.table.head.email' | translate}}</th>
        <th scope="col"><span class="fas fa-check" placement="top"
                              [ngbTooltip]="heads.validated" [attr.aria-label]="heads.validated"></span>
        </th>
        <th scope="col"><span class="fas fa-lock" placement="top"
                              [ngbTooltip]="heads.locked" [attr.aria-label]="heads.locked"></span></th>
        <th scope="col"><span class="fa fa-chevron-circle-right" placement="top"
                              [ngbTooltip]="heads.pwchange" [attr.aria-label]="heads.pwchange"></span>
        </th>
        <th scope="col">{{'users.list.table.head.lastLogin' | translate}}</th>
        <th scope="col">{{'users.list.table.head.created' | translate}}</th>
        <th scope="col">{{'users.list.table.head.lastPwChange' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of parent.items$ | async"  [ngClass]="(user.permanent||user.readOnly)?'table-secondary':''" >
        <td><span data-toggle="tooltip" placement="left" ngbTooltip="{{user.id}}">{{user.user_id}}</span></td>
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td><span class="far" [attr.aria-valuetext]="user.validated" [ngClass]="user.validated?'fa-check-circle':'fa-circle'"></span></td>
        <td><span class="far" [attr.aria-valuetext]="user.locked" [ngClass]="user.locked?'fa-check-circle':'fa-circle'"></span></td>
        <td><span class="far" [attr.aria-valuetext]="user.passwordChangeRequired" [ngClass]="user.passwordChangeRequired?'fa-check-circle':'fa-circle'"></span></td>
        <td>{{user.timestampLastLogin | date:'yyyy-MM-ddTHH:mm:ss'}}</td>
        <td>{{user.timestampAccountCreation | date : 'yyyy-MM-ddTHH:mm:ss'}}</td>
        <td>{{user.timestampLastPasswordChange| date : 'yyyy-MM-ddTHH:mm:ss'}}</td>
    </tr>
    </tbody>
</table>

</app-paginated-entities>
