<?xml version="1.0"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-lazy-init="true">

  <context:property-placeholder system-properties-mode="OVERRIDE"/>

  <bean name="jdoFactory#users" class="org.codehaus.plexus.redback.common.jdo.UserConfigurableJdoFactory">
    <property name="config" ref="userConfiguration"/>
    <property name="driverName" value="org.hsqldb.jdbcDriver"/>
    <property name="url" value="jdbc:hsqldb:mem:MailGeneratorTest" />
    <property name="userName" value="sa"/>
    <property name="password" value=""/>
  </bean>

  <bean name="rBACManager#cached" class="org.codehaus.plexus.redback.rbac.cached.CachedRbacManager">
    <property name="rbacImpl" ref="rBACManager#memory"/>
  </bean>

  <!--

    <component>
      <role>org.codehaus.plexus.redback.rbac.RBACManager</role>
      <role-hint>cached</role-hint>
      <implementation>org.codehaus.plexus.redback.rbac.cached.CachedRbacManager</implementation>
      <description>CachedRbacManager is a wrapped RBACManager with caching.</description>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.redback.rbac.RBACManager</role>
          <role-hint>memory</role-hint>
          <field-name>rbacImpl</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>operations</role-hint>
          <field-name>operationsCache</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>permissions</role-hint>
          <field-name>permissionsCache</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>resources</role-hint>
          <field-name>resourcesCache</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>roles</role-hint>
          <field-name>rolesCache</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>userAssignments</role-hint>
          <field-name>userAssignmentsCache</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>userPermissions</role-hint>
          <field-name>userPermissionsCache</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>effectiveRoleSet</role-hint>
          <field-name>effectiveRoleSetCache</field-name>
        </requirement>
      </requirements>
    </component>
  -->
  <bean name="userManager#cached" class="org.codehaus.plexus.redback.users.cached.CachedUserManager">
    <property name="userImpl" ref="userManager#memory"/>
  </bean>

  <!--
    <component>
      <role>org.codehaus.plexus.redback.users.UserManager</role>
      <role-hint>cached</role-hint>
      <implementation>org.codehaus.plexus.redback.users.cached.CachedUserManager</implementation>
      <description>CachedUserManager</description>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.redback.users.UserManager</role>
          <role-hint>memory</role-hint>
          <field-name>userImpl</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>users</role-hint>
          <field-name>usersCache</field-name>
        </requirement>
      </requirements>
    </component>
  -->

  <bean name="keyManager#cached" class="org.codehaus.plexus.redback.keys.cached.CachedKeyManager">
    <property name="keyImpl" ref="keyManager#memory"/>
  </bean>
  <!--
    <component>
      <role>org.codehaus.plexus.redback.keys.KeyManager</role>
      <role-hint>cached</role-hint>
      <implementation>org.codehaus.plexus.redback.keys.cached.CachedKeyManager</implementation>
      <description>CachedKeyManager</description>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.redback.keys.KeyManager</role>
          <role-hint>memory</role-hint>
          <field-name>keyImpl</field-name>
        </requirement>
        <requirement>
          <role>org.codehaus.plexus.cache.Cache</role>
          <role-hint>keys</role-hint>
          <field-name>keysCache</field-name>
        </requirement>
      </requirements>
    </component>
  -->

  <!--
  <bean name="jdoFactory#users" class="org.codehaus.plexus.jdo.DefaultConfigurableJdoFactory">
    <property name="persistenceManagerFactoryClass" value="org.jpox.PersistenceManagerFactoryImpl"/>
    <property name="driverName" value="org.hsqldb.jdbcDriver"/>
    <property name="url" value="jdbc:hsqldb:mem:UnitTest"/>
    <property name="userName" value="sa"/>
    <property name="otherProperties">
      <props>
        <prop key="javax.jdo.PersistenceManagerFactoryClass">
          org.jpox.PersistenceManagerFactoryImpl  
        </prop>
        <prop key="org.jpox.autoCreateTables">
          true
        </prop>
        <prop key="org.jpox.rdbms.dateTimezone">JDK_DEFAULT_TIMEZONE</prop>
      </props>
    </property>
  </bean>
  -->
</beans>