<settings>
  <localRepository></localRepository>
  <servers>
    <server>
      <id>snapshots</id>
      <username>admin</username>
      <password>admin1</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>repositories</id>
      <repositories>
        <repository>
          <id>snapshots</id>
          <name>snapshots-repository</name>
          <url>http://localhost:9696/archiva/repository/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>snapshots</id>
          <name>snapshots-repository</name>
          <url>http://localhost:9696/archiva/repository/snapshot/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>repositories</activeProfile>
  </activeProfiles>
</settings>