<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id='alert-message-success' type='text/html'>
  <div class="alert fade in alert-success" data-alert="alert">
    <a class="close" data-dismiss="alert" href="#" id='alert-message-success-close-a'>&#215;</a>
    ${message}
  </div>
</script>
<script id='alert-message-error' type='text/html'>
  <div class="alert fade in alert-error" data-alert="alert">
    <a class="close" data-dismiss="alert" href="#" id='alert-message-error-close-a'>&#215;</a>
    ${message}
  </div>
</script>
<script id='alert-message-warning' type='text/html'>
  <div class="alert fade in alert-heading" data-alert="alert">
    <a class="close" data-dismiss="alert" href="#" id='alert-message-warning-close-a'>&#215;</a>
    ${message}
  </div>
</script>
<script id='alert-message-info' type='text/html'>
  <div class="alert fade in alert-info" data-alert="alert">
    <a class="close" data-dismiss="alert" href="#" id='alert-message-info-close-a'>&#215;</a>
    ${message}
  </div>
</script>

<script id='footer-tmpl' type='text/html'>
  <div class="pull-left">
    <a target="_blank" href="http://archiva.apache.org/">Apache Archiva&nbsp;-&nbsp;${version}</a>
  </div>
  <div class="pull-right">
    Copyright &#169; ${copyrightRange} <a target="_blank" href="http://www.apache.org/">The Apache Software
    Foundation</a>
  </div>
</script>

<script id="ko_simpleGrid_pageLinks" type="text/html">
  <div class="pagination">
    <ul>
      {{each(i) ko.utils.range(1, maxPageIndex)}}
      <li data-bind="css: { active: i == currentPageIndex() }">
        <a href="#" data-bind="click: function() { currentPageIndex(i) }">
          ${ i + 1 }
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</script>

<script id="ko_simpleGrid_pageLinksinnernav" type="text/html">
  <div class="pagination">
    <ul>
      <li data-bind="css: { active: 0 == currentPageIndex() }">
        <a href="#" data-bind="click: function() { currentPageIndex(0) }">
          ${$.i18n.prop('navigation.first')}
        </a>
      </li>
      <li data-bind="css: { active: 0 == currentPageIndex() }">
        <a href="#" data-bind="click: function() { currentPageIndex(currentPageIndex()-1) }">
          ${$.i18n.prop('navigation.previous')}
        </a>
      </li>
      {{if currentPageIndex() < navsize }}
      {{each(i) ko.utils.range(1, Math.min( navsize, maxPageIndex()-1))}}
       <li data-bind="css: {active: i == currentPageIndex() }">
        <a href="#" data-bind="click: function() { currentPageIndex( i + 1 ) }">         
          ${ 1 + i }
        </a>
      </li>
      {{/each}}
      {{else currentPageIndex() > maxPageIndex() - navsize  }}
      {{each(i) ko.utils.range(1,navsize)}}
      <li data-bind="css: {active: currentPageIndex() ==  maxPageIndex() - navsize + i }">
        <a href="#" data-bind="click: function() { currentPageIndex( maxPageIndex() - navsize + i  ) }">         
         ${ maxPageIndex() - navsize + i + 1 }
        </a>
      </li>
      {{/each}}
      {{else}}
       {{each(i) ko.utils.range(currentPageIndex(), Math.min( currentPageIndex() + navsize, maxPageIndex()-1))}}
      <li data-bind="css: {active: i == 0 }">
        <a href="#" data-bind="click: function() { currentPageIndex( i + currentPageIndex()  ) }">         
        ${ currentPageIndex() + 1 + i}
        </a>
      </li>
      {{/each}}
      {{/if}}
      
      <li data-bind="css: { active: maxPageIndex()-1 == currentPageIndex() }">
        <a href="#" data-bind="click: function() { currentPageIndex(currentPageIndex()+1) }">
          ${$.i18n.prop('navigation.next')}
        </a>
      </li>
      <li data-bind="css: { active: maxPageIndex()-1 == currentPageIndex() }">
        <a href="#" data-bind="click: function() { currentPageIndex(maxPageIndex()-1) }">
          ${$.i18n.prop('navigation.last')}
        </a>
      </li>
    </ul>
  </div>
</script>

<script id="welcome" type="text/html">
  <div class="row-fluid">
    <div class="row">
      <img src="images/archiva.png"/>
    </div>
    <div class="page-header">
      <h3>${$.i18n.prop('welcome.title')}</h3>
    </div>
    <div class="row well">
      <h5>${$.i18n.prop('welcome.quick.search')}</h5>
      <span class="span2"></span>
        <form class="form-search">
        <input type="text" class="twitter-typeahead" id="quick-search-autocomplete-welcome"
               placeholder="${$.i18n.prop('menu.topbar.quicksearch')}"/>
        </form>
    </div>
    <br/>
    <!--div class="row">
      <span class="span1"></span>
      <span class="span3"><a href="http://archiva.apache.org/docs/${runtimeInfo.version}" target="_blank">${$.i18n.prop('welcome.docref')}</a></span>
      <span class="span1"></span>
      <span class="span3"><a href="http://archiva.apache.org" target="_blank">${$.i18n.prop('welcome.mainsite')}</a></span>
    </div-->
  </div>
</script>

