<div id="modal-password-change" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>${$.i18n.prop('password.section.title')}</h3>
  </div>
  <div class="modal-body" id="modal-password-change-content">
      <form id="password-change-form">
        <div id="modal-password-change-err-message" class="alert-message error" style="display:none"></div>
        <fieldset>
          <!-- part displayed only when a logged user want to change password will be hide when validate user registration -->
          <div class="clearfix" id="password-change-form-current-password-div">
            <label for="password-change-form-current-password">${$.i18n.prop('password.existing')}</label>
            <div class="input">
              <input type="password" id="password-change-form-current-password" name="password-change-form-current-password" class="required" value=""/>
            </div>
          </div>

          <div class="clearfix">
            <label for="passwordChangeFormNewPassword">${$.i18n.prop('password.new')}</label>
            <div class="input">
              <input type="password" id="passwordChangeFormNewPassword" name="passwordChangeFormNewPassword" class="required" value=""/>
            </div>
          </div>

          <div class="clearfix">
            <label for="passwordChangeFormNewPasswordConfirm">${$.i18n.prop('password.new.confirm')}</label>
            <div class="input">
              <input type="password" id="passwordChangeFormNewPasswordConfirm" name="passwordChangeFormNewPasswordConfirm" class="required" value=""/>
            </div>
          </div>
        </fieldset>
      </form>
  </div>
  <div class="modal-footer" id="modal-password-change-footer">
    <button class="btn primary" onclick="return" id="modal-change-password-ok">${register}</button>
  </div>
</div>