<script id="rolesGrid"  type="text/x-jquery-tmpl">
  <table class="bordered-table zebra-striped" id="rolesTable">
    <thead>
      <tr>
        <th>${$.i18n.prop('name')}</th>
        <th>${$.i18n.prop('description')}</th>
        <th>${$.i18n.prop('edit')}</th>
      </tr>
    </thead>
    <tbody>
      {{each roles}}
        <tr>
          <td>${$value.name}</td>
          <td>${$value.description}</td>
          <td>
            <a href="#" onclick="javascript:editRole(encodeURI('${$value.name}'));">${$.i18n.prop('edit')}</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script id="rolesTabs" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h2>${$.i18n.prop('roles.list')}</h2>
  </div>

  <ul id="roles-view-tabs" class="tabs">
    <li class="active" id="roles-view-tabs-li-roles-grid">
      <a href="#roles-view">${$.i18n.prop('roles.grid.tab.title')}</a>
    </li>
    <li id="roles-view-tabs-li-roles-edit">
      <a href="#role-edit">${$.i18n.prop('edit')}</a>
    </li>
  </ul>
  <div id="roles-view-tabs-content" class="tab-content">
    <div id="roles-view">
    </div>
    <div id="role-edit"></div>
  </div>

</script>

<script id="editRoleTab" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h3>${$.i18n.prop('role')}</h3>
  </div>
  <table class="bordered-table" id="editRoleTable">
    <tbody>
      <tr>
        <td>${$.i18n.prop('name')}:</td>
        <td id="role-edit-name">${name}</td>
      </tr>
      <tr>
        <td>${$.i18n.prop('description')}:</td>
        <td><input type="text" id="role-edit-description" value="${description}"></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="pull-left">
            <button class="btn" onclick="saveRoleDescription();">${$.i18n.prop('save')}</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="page-header">
    <h3>${$.i18n.prop('role.model.parent.roles')}</h3>
  </div>
  {{if parentRoleNames()}}
    <ul>
      {{if $.isArray(parentRoleNames())}}
        {{each parentRoleNames()}}
          <li>${$value}</li>
        {{/each}}
      {{else}}
        <li>${parentRoleNames()}</li>
      {{/if}}
    </ul>
  {{/if}}

  <div class="page-header">
    <h3>${$.i18n.prop('role.model.child.roles')}</h3>
  </div>
  {{if childRoleNames}}
    <ul>
      {{if $.isArray(childRoleNames)}}
        {{each childRoleNames}}
          <li>${$value}</li>
        {{/each}}
      {{else}}
        <li>${childRoleNames}</li>
      {{/if}}
    </ul>
  {{/if}}

  <div class="page-header">
    <h3>${$.i18n.prop('permissions')}</h3>
  </div>
  {{if permissions}}
    <table class="bordered-table zebra-striped" id="rolePermissionsTable">
      <thead>
        <tr>
          <th>${$.i18n.prop('name')}</th>
          <th>${$.i18n.prop('role.operation')}</th>
          <th>${$.i18n.prop('role.resource')}</th>
        </tr>
      </thead>
      <tbody>
        {{if $.isArray(permissions)}}
          {{each permissions}}
            <tr>
              <td>${$value.name}</td>
              <td>${$value.operation.name}</td>
              <td>${$value.resource.identifier}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td>${permissions.name}</td>
            <td>${permissions.operation.name}</td>
            <td>${permissions.resource.identifier}</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  {{/if}}

  <div class="page-header">
    <h2>${$.i18n.prop('role.edit.section.users')}</h2>
  </div>
  {{if parentsRolesUsers}}
    <div class="page-header">
      <h3>${$.i18n.prop('role.edit.users.defined.in.parent.roles')}</h3>
    </div>
    {{if $.isArray(parentsRolesUsers)}}
      <ul>
      {{each parentsRolesUsers}}
        <li>${$value.fullName} - ( ${$value.username} - ${$value.email} ) </li>
      {{/each}}
      </ul>
    {{else}}
      <ul>
        <li>${parentsRolesUsers.fullName} - ( ${parentsRolesUsers.username} - ${parentsRolesUsers.email} ) </li>
      </ul>
    {{/if}}
  {{/if}}

  <div class="page-header">
    <h3>${$.i18n.prop('role.edit.users.defined.in.current.role')}</h3>
  </div>

  {{if users}}
    {{if $.isArray(users)}}
      <ul>
      {{each users}}
        <li>${$value.fullName} - ( ${$value.username} - ${$value.email} ) </li>
      {{/each}}
      </ul>
    {{else}}
      <ul>
        <li>${users.fullName} - ( ${users.username} - ${users.email} ) </li>
      </ul>
    {{/if}}
  {{else}}
    ${$.i18n.prop('role.edit.no.user.defined')}
  {{/if}}

</script>
