<script id="rolesGrid"  type="text/x-jquery-tmpl">
  <table class="bordered-table zebra-striped" id="rolesTable">
    <thead>
      <tr>
        <th>${$.i18n.prop('roles.name')}</th>
        <th>${$.i18n.prop('roles.description')}</th>
        <th>${$.i18n.prop('edit')}</th>
      </tr>
    </thead>
    <tbody>
      {{each role}}
        <tr>
          <td>${$value.name}</td>
          <td>${$value.description}</td>
          <td>
            <a href="#" onclick="javascript:editRole(encodeURI('${$value.name}'));">${$.i18n.prop('edit')}</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script id="rolesTabs" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h2>${$.i18n.prop('roles.list')}</h2>
  </div>

  <ul id="roles-view-tabs" class="tabs">
    <li class="active" id="roles-view-tabs-li-roles-grid">
      <a href="#roles-view">${$.i18n.prop('roles.grid.tab.title')}</a>
    </li>
    <li id="roles-view-tabs-li-roles-edit">
      <a href="#role-edit">${$.i18n.prop('role.edit')}</a>
    </li>
  </ul>
  <div id="roles-view-tabs-content" class="tab-content">
    <div id="roles-view">
    </div>
    <div id="role-edit"></div>
  </div>

</script>

<script id="editRoleTab" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h3>${$.i18n.prop('role.edit')}</h3>
  </div>
  <table class="bordered-table" id="editRoleTable">
    <tbody>
      <tr>
        <td>${$.i18n.prop('role.edit.name')}:</td>
        <td>${name}</td>
      </tr>
      <tr>
        <td>${$.i18n.prop('role.edit.description')}:</td>
        <td>${description}</td>
      </tr>
    </tbody>
  </table>

  <div class="page-header">
    <h3>${$.i18n.prop('role.parents')}</h3>
  </div>
  {{if childRoleNames}}
    <ul>
      {{if $.isArray(childRoleNames)}}
        {{each parentRoleNames}}
          <li>${$value}</li>
        {{/each}}
      {{else}}
        <li>${childRoleNames}</li>
      {{/if}}
    </ul>
  {{/if}}

  <div class="page-header">
    <h3>${$.i18n.prop('role.childs')}</h3>
  </div>
  {{if childRoleNames}}
    <ul>
      {{if $.isArray(childRoleNames)}}
        {{each childRoleNames}}
          <li>${$value}</li>
        {{/each}}
      {{else}}
        <li>${childRoleNames}</li>
      {{/if}}
    </ul>
  {{/if}}

  {{if permissions}}
    <div class="page-header">
      <h3>${$.i18n.prop('role.permissions')}</h3>
    </div>
    <table class="bordered-table zebra-striped" id="rolePermissionsTable">
      <thead>
        <tr>
          <th>${$.i18n.prop('role.permission.name')}</th>
          <th>${$.i18n.prop('role.permission.operation.name')}</th>
          <th>${$.i18n.prop('role.permission.resource.')}</th>
        </tr>
      </thead>
      <tbody>
        {{if $.isArray(permissions)}}
          {{each permissions}}
            <tr>
              <td>${$value.name}</td>
              <td>${$value.operation.name}</td>
              <td>${$value.resource.identifier}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td>${permissions.name}</td>
            <td>${permissions.operation.name}</td>
            <td>${permissions.resource.identifier}</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  {{/if}}

</script>
