<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id="rolesTabs" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h2>${$.i18n.prop('roles.management.header')}</h2>
  </div>

  <ul id="roles-view-tabs" class="nav nav-tabs" data-target="roles-view-tabs-content">
    <li class="active" id="roles-view-tabs-li-roles-grid">
      <a data-toggle="tab" href="#roles-view" id="roles-view-tabs-a-roles-grid">${$.i18n.prop('roles.grid.tab.title')}</a>
    </li>
    <li id="roles-view-tabs-li-roles-edit">
      <a data-toggle="tab" href="#role-edit">${$.i18n.prop('edit')}</a>
    </li>
  </ul>
  <div id="roles-view-tabs-content" class="tab-content">
    <div id="roles-view" class="tab-pane">
        <div data-bind="style: { display: bulkSave() ? '' : 'none' }">
          <a data-bind="click: updateModifiedRoles" class="btn btn-danger" href="#">${$.i18n.prop('save.all')}</a>
          <br/>
        </div>
        <table class="table table-striped table-bordered" id="rolesTable"
               data-bind="simpleGrid: gridViewModel,simpleGridTemplate:'ko_rolesGrid',pageLinksId:'rolesPagination'">
        </table>
        <div id="rolesPagination"></div>
    </div>
    <div id="role-edit" class="tab-pane" data-bind="template: {name:'editRoleTab',data: currentRole}"></div>
  </div>

</script>

<script id="editRoleTab" type="text/x-jquery-tmpl">
  <div class="accordion" id="edit-role-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <h3>
          <a class="accordion-toggle" href="#role-collapse" data-parent="#edit-role-accordion" data-toggle="collapse">${$.i18n.prop('role')}</a>
        </h3>
      </div>
      <div id="role-collapse" class="accordion-body collapse in">
        <table class="table table-bordered" id="editRoleTable">
          <tbody>
            <tr>
              <td>${$.i18n.prop('name')}:</td>
              <td id="role-edit-name">${$data.name}</td>
            </tr>
            <tr>
              <td>${$.i18n.prop('description')}:</td>
              <td><input type="text" id="role-edit-description" data-bind="value: description"></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="pull-left">
                  <button class="btn" id="role-edit-description-save" data-bind="click: saveRoleDescription">${$.i18n.prop('save')}</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="page-header">
          <h3>${$.i18n.prop('role.model.parent.roles')}</h3>
        </div>
        {{if $data.parentRoleNames}}
        <ul>
          {{each $data.parentRoleNames}}
            <li>${$value}</li>
          {{/each}}
        </ul>
        {{/if}}

        <div class="page-header">
          <h3>${$.i18n.prop('role.model.child.roles')}</h3>
        </div>
        {{if $data.childRoleNames}}
        <ul>
          {{each $data.childRoleNames}}
            <li>${$value}</li>
          {{/each}}
        </ul>
        {{/if}}

        <div class="page-header">
          <h3>${$.i18n.prop('permissions')}</h3>
        </div>
        {{if $data.permissions}}
          <table class="table table-striped table-bordered" id="rolePermissionsTable">
            <thead>
              <tr>
                <th>${$.i18n.prop('name')}</th>
                <th>${$.i18n.prop('role.operation')}</th>
                <th>${$.i18n.prop('role.resource')}</th>
              </tr>
            </thead>
            <tbody>
              {{each permissions}}
              <tr>
                <td>${$value.name}</td>
                {{if $value.operation }}
                  <td>${$value.operation().name}</td>
                {{else}}
                  <td></td>
                {{/if}}
                {{if $value.resource }}
                  <td>${$value.resource().identifier}</td>
                {{else}}
                  <td></td>
                {{/if}}
              </tr>
             {{/each}}
            </tbody>
          </table>
        {{/if}}
      </div>
    </div>
    <div class="accordion-group>">
      <div class="accordion-heading">
        <h3>
          <a class="accordion-toggle" href="#role-users-collapse" data-parent="#edit-role-accordion" data-toggle="collapse">${$.i18n.prop('role.edit.section.users')}</a>
        </h3>
      </div>
      <div id="role-users-collapse" class="accordion-body collapse">
        {{if $data.parentsRolesUsers}}
        <div class="page-header">
          <h3>${$.i18n.prop('role.edit.users.defined.in.parent.roles')}</h3>
        </div>
        <ul>
        {{each $data.parentsRolesUsers}}
          <li>${$value.fullName} - ( ${$value.username} - ${$value.email} ) </li>
        {{/each}}
        </ul>
        {{/if}}

        <ul id="role-edit-users-tabs" class="nav nav-tabs">
          <li class="active" id="role-view-users-li">
            <a data-toggle="tab" href="#role-view-users">${$.i18n.prop('role.edit.users.list')}</a>
          </li>
          <li id="role-edit-users-li">
            <a data-toggle="tab" href="#role-edit-users">${$.i18n.prop('edit')}</a>
          </li>
        </ul>

        <div class="pill-content" id="role-edit-users-tabs-content">
          <div id="role-view-users" class="active pill-pane">
            <div class="page-header">
              <h3>${$.i18n.prop('role.edit.users.defined.in.current.role')}</h3>
            </div>
            <div id="role-list-users">
              {{if users().length>0}}
              <ul>
                {{each(j, user) users()}}
                <li>${user.fullName()} - ( ${user.username()} - ${user.email()} ) </li>
                {{/each}}
              </ul>
              {{else}}
                ${$.i18n.prop('role.edit.no.user.defined')}
              {{/if}}
            </div>
          </div>

          <div id="role-edit-users" class="clearfix ar-multiselect pill-pane">

            <div class="ar-multiselect-column ar-multiselect-left">
              <select data-bind="options: otherUsers ,optionsText: 'username',selectedOptions:selectedOtherUsers" multiple="true" id="role-edit-available-users"></select>
            </div>
            <div class="ar-multiselect-column ar-multiselect-center">
              <ul style="list-style: none">
                <li><input class="btn" id="role-edit-users-add-user" type="button" data-bind="click: addUser" value="&gt;"/></li>
                <li><input class="btn" id="role-edit-users-remove-user" type="button" data-bind="click: removeUser" value="&lt;"/></li>
              </ul>
            </div>
            <div class="ar-multiselect-column ar-multiselect-right">
              <select data-bind="options: users ,optionsText: 'username',selectedOptions:selectedUsers" multiple="true" id="role-edit-affected-users"></select>
            </div>
            <button class="btn" id="role-edit-users-save" data-bind="click: saveUsers">${$.i18n.prop('save')}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script id='ko_rolesGrid' type='text/x-jquery-tmpl'>
  <thead>
      <tr>
        {{each(i, columnDefinition) columns}}
          <th>${ columnDefinition.headerText }</th>
        {{/each}}
        <th>${$.i18n.prop('edit')}</th>
        <th>${$.i18n.prop('save')}</th>
      </tr>
  </thead>
  <tbody>
      {{each(i, row) itemsOnCurrentPage()}}
          <tr data-bind="css:{ 'modified': row.modified()||row.usersModified()}">
              {{each(j, columnDefinition) columns}}
              {{var val = (typeof columnDefinition.rowText == 'function' ? columnDefinition.rowText(row) : row[columnDefinition.rowText])}}
              <td id="role-${columnDefinition.rowText}-${row.name()}">
                ${val}
              </td>
              {{/each}}
              <td>
                <a id="edit-role-${row.name()}" href="#" data-bind="click: function(){ editRole(row) }">
                  <img src="images/edit-find-22-22.png" title="${$.i18n.prop('edit')}">
                </a>
              </td>
              <td>
                {{if row.modified()}}
                  <a href="#" class="btn btn-warning" data-bind="click: function(){ updateRole(row) }">${$.i18n.prop('save')}</a>
                {{/if}}
              </td>
          </tr>
      {{/each}}
</script>


