<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id='redback/user-edit-tmpl' type='text/x-jquery-tmpl'>
<div id="edit-user-details-pills">
  <ul id="edit_user_details_pills_headers" class="nav nav-pills" data-target="#edit-user-details-pills-content">
    <li class="active" id="user-view-detail-li">
      <a data-toggle="tab" href="#user-create-div">${$.i18n.prop('edit')}</a>
    </li>
    <li id="user-edit-roles-edit-li">
      <a data-toggle="tab" href="#user-edit-roles-edit">${$.i18n.prop('effective.roles.edit')}</a>
    </li>
  </ul>
  <div class="pill-content" id="edit-user-details-pills-content">
    <div id="user-create-div" class="active pill-pane">
      <div class="row-fluid">
        <div class="span8 columns">
          <form id="user-create" class="well form-horizontal" data-bind="submit: save">
            <fieldset id="user-create-fieldset">
              <div class="control-group">
                <label class="control-label" for="username">${$.i18n.prop('username')}</label>
                <div class="controls" id="username-div">
                  {{if $data.username.length>0}}
                    <span class="uneditable-input">${$data.username}</span>
                  {{else}}
                    <input type="text" id="username" name="username" size="30" class="required" data-bind="value: username"/>
                  {{/if}}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="fullname">${$.i18n.prop('full.name')}</label>
                <div class="controls">
                  <input type="text" id="fullname" name="fullname" size="30" class="required" data-bind="value: fullName"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password">${$.i18n.prop('password')}</label>
                <div class="controls">
                  <input type="password" id="password" name="password" class="required" data-bind="value: password"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="confirmPassword">${$.i18n.prop('confirm.password')}</label>
                <div class="controls">
                  <input type="password" id="confirmPassword" name="confirmPassword" data-bind="value: confirmPassword"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="email">${$.i18n.prop('email.address')}</label>
                <div class="controls">
                  <input type="text" id="email" name="email" class="required email" data-bind="value: email"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="validated">${$.i18n.prop('validated')}</label>
                <div class="controls">
                  <input type="checkbox" id="validated" name="validated" data-bind="checked: validated"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="locked">${$.i18n.prop('locked')}</label>
                <div class="controls">
                  <input type="checkbox" id="locked" name="locked" data-bind="checked: locked"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="passwordChangeRequired">${$.i18n.prop('user.change.password.required')}</label>
                <div class="controls">
                  <input type="checkbox" id="passwordChangeRequired" name="passwordChangeRequired" data-bind="checked: passwordChangeRequired"/>
                </div>
              </div>
            </fieldset>
            <button data-bind="click: saveUser" class="btn" id="user-create-form-register-button">${$.i18n.prop('save')}</button>
            <button class="btn" id="user-create-form-cancel-button">${$.i18n.prop('cancel')}</button>
          </form>
        </div>
        <div class="span4 columns" id="user-edit-roles">
          <div id="user-edit-roles-view"></div>
        </div>
      </div>
    </div>

    <div id="user-edit-roles-edit" class="pill-pane">
      roles edit
    </div>
  </div>
</div>
</script>

<script id="user_view_roles_list_tmpl" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h3>${$.i18n.prop('effective.roles')}</h3>
  </div>
  <div>
    <ul>
      {{each $data.user.assignedRoles}}
        <li>${$value}</li>
      {{/each}}
    </ul>
  </div>
</script>

<script id="user_edit_roles_tmpl" type="text/x-jquery-tmpl">

  <div>
    {{each $data.applicationRoles}}
      <div class="page-header">
        <h3>${$value.name}</h3>
      </div>
      <blockquote>
        <p>${$value.description}</p>
      </blockquote>
      <ul>
      {{each $value.globalRoles}}
        <li><input type="checkbox" value="${$value}" data-bind="checked: user.assignedRoles">&nbsp;${$value}</input></li>
      {{/each}}
      </ul>

      {{if roleTemplates}}
      <table class="bordered-table">
        <thead>
          <tr>
            <th>&nbsp;</th>
            {{each roleTemplates}}
              <th>${$value.namePrefix}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{each resources}}
            {{var curResource = $value}}
            <tr>
              <td>${curResource}</td>
              {{each roleTemplates}}
                <td><input type="checkbox" value="${$value.namePrefix}${$value.delimiter}${curResource}" data-bind="checked: user.assignedRoles"/></td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

    {{/each}}

    <button class="btn" data-bind="click:updateUserRoles">${$.i18n.prop('update')}</button>

  </div>
</script>

