<script id='ko_usersGrid_grid' type='text/x-jquery-tmpl'>
  <thead>
      <tr>
        {{each(i, columnDefinition) columns}}
          <th>${ columnDefinition.headerText }</th>
        {{/each}}
        <th>${$.i18n.prop('edit')}</th>
        <th>${$.i18n.prop('delete')}</th>
        <th>${$.i18n.prop('user.list.locked')}</th>
        <th>${$.i18n.prop('user.change.password.required')}</th>
      </tr>
  </thead>
  <tbody>
      {{each(i, row) itemsOnCurrentPage()}}
          <tr>
              {{each(j, columnDefinition) columns}}
              <td>${ typeof columnDefinition.rowText == 'function' ? columnDefinition.rowText(row) : row[columnDefinition.rowText] }</td>
              {{/each}}
              <td><a href="#" data-bind="click: function(){ window.redbackModel.usersViewModel.editUserBox(row) }">Edit</a></td>
              {{if row.username()=="admin" || row.username()=="guest"}}
                <td></td>
              {{else}}
                <td>
                  <a href="#" data-bind="click: function(){ row.deleteUser() }" id="users-grid-delete-${row.username()}">
                    <img src="images/delete.png" alt="${$.i18n.prop('delete')}"/>
                  </a>
                </td>
              {{/if}}
              {{if row.locked()==true}}
                <td>
                    {{if row.username()=="admin" || row.username()=="guest"}}
                      <img src="images/system-lock-screen.png"/>
                    {{else}}
                      <a href="#" data-bind="click: function(){ window.redbackModel.usersViewModel.unlock(row) }"><img src="images/system-lock-screen.png"/></a>
                    {{/if}}
                </td>
              {{else}}
                <td>
                    {{if row.username()=="admin" || row.username()=="guest"}}
                      <img src="images/weather-clear.png"/>
                    {{else}}
                      <a href="#" data-bind="click: function(){ window.redbackModel.usersViewModel.lock(row) }"><img src="images/weather-clear.png"/></a>
                    {{/if}}
                </td>
              {{/if}}

              {{if row.passwordChangeRequired()==true}}
                <td>
                    {{if row.username()=="admin" || row.username()=="guest"}}
                      <img src="images/dialog-error.png"/>
                    {{else}}
                      <a href="#" data-bind="click: function(){ window.redbackModel.usersViewModel.passwordChangeRequire(row,false) }">
                          <img src="images/dialog-error.png"/>
                      </a>
                    {{/if}}
                </td>
              {{else}}
              <td>
                  {{if row.username()=="admin" || row.username()=="guest"}}
                    <img src="images/weather-clear.png"/>
                  {{else}}
                    <a href="#" data-bind="click: function(){ window.redbackModel.usersViewModel.passwordChangeRequire(row,true) }">
                        <img src="images/weather-clear.png"/>
                    </a>
                  {{/if}}
              </td>
              {{/if}}
          </tr>
      {{/each}}
  </tbody>

</script>

<script id="usersGrid"  type="text/x-jquery-tmpl">
    <div class="page-header">
      <h2>${$.i18n.prop('users.list')}</h2>
    </div>
    <ul id="users-view-tabs" class="tabs">
      <li class="active" id="users-view-tabs-li-users-grid">
        <a href="#users-view">${$.i18n.prop('users.grid.tab.title')}</a>
      </li>
      <li id="users-view-tabs-li-user-edit">
        <a href="#createUserForm" id="users-view-tabs-li-user-edit-a">${$.i18n.prop('user.add')}</a>
      </li>
    </ul>
    <div id="users-view-tabs-content" class="tab-content">
      <div id="users-view">
        <button data-bind='click: sortByName'  class="btn">
            ${$.i18n.prop('users.sort.byname')}
        </button>
        <table class="bordered-table zebra-striped" id="usersTable"
               data-bind="simpleGrid: gridViewModel,simpleGridTemplate:'ko_usersGrid_grid',pageLinksId:'usersPagination'">
        </table>
        <div id="usersPagination"></div>
      </div>
      <div id="createUserForm"></div>
    </div>
</script>

<script id="user_edit_roles_tmpl" type="text/x-jquery-tmpl">
  <ul>
    {{each $data.roles}}
      <li>${$value.name}</li>
    {{/each}}
  </ul>
</script>
