<div id="modal-user-edit" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>${$.i18n.prop('password.section.title')}</h3>
  </div>
  <div class="modal-body" id="modal-user-edit-content">
      <form id="user-edit-form">
        <div id="modal-user-edit-err-message" class="alert-message error" style="display:none"></div>
        <fieldset>
          <div class="clearfix">
            <label for="username">${$.i18n.prop('username')}</label>
            <div class="input" id="username-div">
              <span class="uneditable-input" id="username"></span>
            </div>
          </div>
          <div class="clearfix">
            <label for="fullname">${$.i18n.prop('full.name')}</label>
            <div class="input">
              <input type="text" id="fullname" name="fullname" size="30" class="required"/>
            </div>
          </div>
          <div class="clearfix">
            <label for="email">${$.i18n.prop('email.address')}</label>
            <div class="input">
              <input type="text" id="email" name="email" size="30" class="required email"/>
            </div>
          </div>
          <div class="clearfix" id="user-edit-form-current-password-div">
            <label for="userEditFormCurrentPassword">${$.i18n.prop('password.existing')}</label>
            <div class="input">
              <input type="password" id="userEditFormCurrentPassword" name="userEditFormCurrentPassword" class="required" value=""/>
            </div>
          </div>

          <div class="clearfix">
            <label for="userEditFormNewPassword">${$.i18n.prop('password.new')}</label>
            <div class="input">
              <input type="password" id="userEditFormNewPassword" name="userEditFormNewPassword" class="" value=""/>
            </div>
          </div>

          <div class="clearfix">
            <label for="userEditFormNewPasswordConfirm">${$.i18n.prop('password.new.confirm')}</label>
            <div class="input">
              <input type="password" id="userEditFormNewPasswordConfirm" name="userEditFormNewPasswordConfirm" class="" value=""/>
            </div>
          </div>
        </fieldset>
      </form>
  </div>
  <div class="modal-footer" id="modal-user-edit-footer">
    <button class="btn primary" onclick="return" id="modal-user-edit-ok">${$.i18n.prop('ok')}</button>
  </div>
</div>