/* Plexus Security - $Id$ */

.eXtremeTable {
	margin: 0px;
	padding: 0px;
}

.eXtremeTable select {
	font-family: Verdana;
	font-size: 9px;
	border: solid 1px #EEE;
	width: 75px;
}

.outerTableRegion {
	padding: 0px 0px 0px 2px;
	border: 1px solid gray;
	width: 100%;
}

.outerTableRegion table {
	margin-left: 0px;
	margin-right: 0px;
}

.outerTableRegion td, .outerTableRegion th {
	padding: 2px 2px;
}

.eXtremeTable .tableRegion {
	font-family: Verdana;
	font-size: 10px;
	width: 100%;
}

.eXtremeTable .filter {
	background-color: #efefef;
}

.eXtremeTable .filterToolbar {
	padding: 0px 0px 10px;
}

.eXtremeTable .filterInput {
	padding: 5px 0px 0px 10px;
	white-space: nowrap;
}

.eXtremeTable .filter .filterInputGroup {
	border: 1px solid gray;
	background-color: white;
	padding-right: 16px;
	padding-left: 1px;
	background-image: url("../../images/redback/table/filterIcon.gif");
	background-position: center right;
	background-repeat: no-repeat;
}

.eXtremeTable .filter input {
	font-family: Verdana;
	background: transparent;
	border: 0px;
	font-size: 10px;
	margin: 0px;
	margin-right: 16px;
	height: 16px;
	width: 100%;
}

.eXtremeTable .filter select {
	font-family: Verdana;
	font-size: 9px;
	border: solid 1px #EEE;
	width: 100%;
}

.eXtremeTable .tableRegion .tableHeader {
	background-color: #308dbb;
	color: white;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	margin: 0;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTable .tableRegion .tableHeaderSort {
	background-color: #f8c471;
	color: white;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTable .odd a,.even a {
	color: Black;
	font-size: 9px;
}

.eXtremeTable .odd td,.eXtremeTable .even td {
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	font-size: 9px;
}

.eXtremeTable .odd {
	background-color: #FFFFFF;
}

.eXtremeTable .even {
	background-color: #dfe4e8;
}

.eXtremeTable .highlight td {
	color: black;
	font-size: 10px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	background-color: #fdecae;
}

.eXtremeTable .highlight a,.highlight a {
	color: black;
	font-size: 10px;
}

.eXtremeTable .toolbar {
	background-color: #F4F4F4;
	font-family: Verdana;
	font-size: 9px;
	margin-right: 1px;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.eXtremeTable .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align: center;
}

.eXtremeTable .separator {
	width: 7px;
}

.eXtremeTable .statusBar {
	font-family: Verdana;
	font-size: 10px;
}

.eXtremeTable .compactToolbar button {
	font-size: 10px;
}

.eXtremeTable .compactToolbar {
	font-size: 10px;
	width: 100%;
	padding-bottom: 0px;
}

.eXtremeTable .compactToolbar table td {
	white-space: nowrap;
	padding-right: 4px;
}

.eXtremeTable .title {
	color: #444444;
	font-weight: bold;
	font-family: Verdana;
	font-size: 15px;
	vertical-align: middle;
}

.eXtremeTable .title span {
	margin-left: 7px;
}

.eXtremeTable .roleSelect {
	width: auto;
}

.eXtremeTable .formButtons {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}

.eXtremeTable .formButton {
	cursor: pointer;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTable .tableTotal {
	background-color: #FFFFFF;
	border-top: solid 1px Silver;
}

.eXtremeTable .tableTotalEmpty {
	background-color: #FFFFFF;
}

.eXtremeTable img {
	border: 0px;
}

.eXtremeTable .tasks {
	text-align: center;
}

.eXtremeTable .tasks form {
	padding: 0px;
	margin: 0px;
}

table.tools {
	border: 1px solid gray;
	margin-top: 7px;
	padding: 0px 2px 2px 2px;
}

table.tools img {
	border: 0;
}

table.tools th.toolHeading {
	background-color: #308dbb;
	color: white;
	font-size: 12px;
	padding: 3px;
	text-align: left;
}

table.tools form {
	margin: 0;
	padding: 0;
}

table.tools p {
	font-size: 10px;
	margin: 5px;
}

table.tools .task {
	margin-bottom: 2px;
}

table.tools form input,table.tools form select {
	font-size: 10px;
}

table.tools form .button {
	margin-left: 15px;
	width: 15em;
}

table.tools .reports {
	
}

table.tools .reports th {
	text-align: left;
	font-size: 11px;
}

table.tools .reports td {
	text-align: left;
	font-size: 10px;
}