<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<nav class="nav flex-column nav-pills " role="tablist" aria-orientation="vertical">

  <a  class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Artifacts</a>

  <a  class="nav-link active my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-search" aria-selected="true">Search</a>

  <a  class="nav-link my-0 py-0"  href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Browse</a>

  <a  class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Upload Artifact</a>

  <a  class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" data-toggle="pill"
     role="tab" aria-controls="v-pills-home" aria-selected="false">Administration</a>
  <a  class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Repository Groups</a>
  <a  class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Repositories</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Proxy Connectors</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">ProxyConnector Rules</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Network Proxies</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Repository Scanning</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Runtime Configuration</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">System Status</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">UI Configuration</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Reports</a>
  <a  class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" data-toggle="pill"
     role="tab" aria-controls="v-pills-home" aria-selected="false">Users</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Manage</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Roles</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">Users Runtime Configuration</a>
  <a  class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" data-toggle="pill"
     role="tab" aria-controls="v-pills-home" aria-selected="false">Documentation</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">REST Api</a>
  <a   class="nav-link my-0 py-0" href="#" data-toggle="pill"
     role="tab" aria-controls="v-pills-browse" aria-selected="false">User Documentation</a>
</nav>
