<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id="legacy-artifact-path-main" type="text/html">
 <div id="legacy-artifact-path-screen">
     <div class="page-header">
       <h2>${$.i18n.prop('legacy-artifact-paths.list')}</h2>
     </div>

     <ul id="legacy-artifact-paths-view-tabs" class="nav nav-tabs">
       <li id="legacy-artifact-paths-view-tabs-li-grid">
         <a data-toggle="tab" href="#legacy-artifact-paths-view" id="legacy-artifact-paths-view-tabs-a-grid">${$.i18n.prop('legacy-artifact-paths.grid.tab.title')}</a>
       </li>
       <li id="legacy-artifact-paths-view-tabs-li-edit">
         <a data-toggle="tab" href="#legacy-artifact-paths-edit">${$.i18n.prop('add')}</a>
       </li>
     </ul>
     <div id="legacy-artifact-paths-view-tabs-content" class="tab-content">
       <div id="legacy-artifact-paths-view" class="tab-pane">
           <table class="table table-striped table-bordered" id="legacy-artifact-paths-table"
                  data-bind="simpleGrid: gridViewModel,simpleGridTemplate:'ko-legacy-artifact-paths-grid',pageLinksId:'legacy-artifact-pathsPagination'">
           </table>
           <div id="legacy-artifact-pathsPagination"></div>
       </div>
       <div id="legacy-artifact-paths-edit" class="tab-pane" data-bind='template: {name:"legacy-artifact-paths-edit-tmpl"}'></div>
     </div>
 </div>
</script>

<script id='ko-legacy-artifact-paths-grid' type='text/x-jquery-tmpl'>
    <thead>
    <tr>
        {{each(i, columnDefinition) columns}}
        <th>${ columnDefinition.headerText }</th>
        {{/each}}
        <th>${$.i18n.prop('delete')}</th>
    </tr>
    </thead>
    <tbody>
    {{each(i, row) itemsOnCurrentPage()}}
      <tr data-bind="css:{ 'modified': row.modified()}">
        {{each(j, columnDefinition) columns}}
        {{var val = (typeof columnDefinition.rowText == 'function' ? columnDefinition.rowText(row) : row[columnDefinition.rowText])}}
          <td>
              ${val}
          </td>
        {{/each}}
          <td>
            <a href="#" data-bind="click: function(){ removeLegacyArtifactPath(row) }">
              <img src="images/edit-cut.png" title="${$.i18n.prop('delete')}"/>
            </a>
          </td>
    </tr>
    {{/each}}
    </tbody>

</script>

<script id="legacy-artifact-paths-edit-tmpl" type="text/html">
    <form id="legacy-artifact-paths-edit-form" class="well form-horizontal">
      <fieldset id="legacy-artifact-paths-edit-fieldset">
        <div class="control-group">
          <label class="control-label" for="groupId">${$.i18n.prop('legacy-artifact-paths.groupId')}</label>
          <div class="controls">
            <input type="text" class="xlarge required" id="groupId" name="groupId" size="8"
                   data-bind="value: legacyArtifactPath.groupId"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="artifactId">${$.i18n.prop('legacy-artifact-paths.artifactId')}</label>
          <div class="controls">
            <input type="text" class="xlarge required" id="artifactId" name="artifactId" size="8"
                   data-bind="value: legacyArtifactPath.artifactId"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="version">${$.i18n.prop('legacy-artifact-paths.version')}</label>
          <div class="controls">
            <input type="text" class="xlarge required" id="version" name="version" size="8"
                   data-bind="value: legacyArtifactPath.version"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="classifier">${$.i18n.prop('legacy-artifact-paths.classifier')}</label>
          <div class="controls">
            <input type="text" class="xlarge" id="classifier" name="classifier" size="8"
                   data-bind="value: legacyArtifactPath.classifier"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="type">${$.i18n.prop('legacy-artifact-paths.type')}</label>
          <div class="controls">
            <input type="text" class="xlarge required" id="type" name="type" size="8"
                   data-bind="value: legacyArtifactPath.type"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="path">${$.i18n.prop('legacy-artifact-paths.path')}</label>
          <div class="controls">
            <input type="text" class="xlarge required" id="path" name="path" size="8"
                   data-bind="value: legacyArtifactPath.path"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="artifact">${$.i18n.prop('legacy-artifact-paths.artifact')}</label>
          <div class="controls">
            <span title="calculated from values" class="uneditable-input"
                  id="artifact" data-bind="text: legacyArtifactPath.artifact"></span>
          </div>
        </div>

      </fieldset>
      <button id="network-proxy-btn-save" data-bind="click: save" class="btn">${$.i18n.prop('save')}</button>
      <button id="network-proxy-btn-cancel" data-bind="click: displayGrid" class="btn">${$.i18n.prop('cancel')}</button>
      <button id="network-proxy-btn-calculate-path" data-bind="click: calculatePath" class="btn btn-success">${$.i18n.prop('legacy-artifact-paths.calculatePath')}</button>
    </form>
</script>

<script id="legacy-artifact-path-delete-warning-tmpl" type="text/html">
    <div>
      <span class="label label-warning">${$.i18n.prop('warning.not.undone.operation')}</span>
    </div>
</script>

<script id="repository-scanning-main" type="text/html">
  <div id="repository-scanning-screen">
    <div class="page-header">
      <h2>${$.i18n.prop('repository-scanning.head')}</h2>
    </div>
  </div>

  <ul id="repositories-tabs" class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#file-types-content">${$.i18n.prop('repository-scanning.file-types.head')}</a>
    </li>
    <li>
      <a data-toggle="tab" href="#consumers-content">${$.i18n.prop('repository-scanning.consumers.head')}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="file-types-content" class="tab-pane active" data-bind='template: {name:"file-types-tmpl"}'>
    </div>
    <div id="consumers-content" class="tab-pane">
      <div id="consumers-known-content" data-bind='template: {name:"consumers-known-content-tmpl"}'></div>
      <div id="consumers-invalid-content" data-bind='template: {name:"consumers-invalid-content-tmpl"}'></div>
    </div>
  </div>

</script>

<script id="file-types-tmpl" type="text/html">
<div class="accordion" id="accordion-file-types">
  <div class="span4">
  {{each(i, fileType) fileTypes}}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" href="#collapse-pattern-${fileType.id}"
         data-parent="#accordion-file-types" data-toggle="collapse">${fileType.id}&nbsp;<i class="icon-resize-vertical"/></a>
    </div>
    <div id="collapse-pattern-${fileType.id}" class="accordion-body collapse">
    <table class="table table-condensed">
      {{each(j,pattern) fileType.patterns}}
      <tr>
        <td>${pattern}</td>
        <td>
          <a href="#" data-bind="click: function(){ removeFileTypePattern(fileType.id(),pattern) }">
            <img src="images/edit-cut-22-22.png" title="${$.i18n.prop('delete')}"/>
          </a>
        </td>
      </tr>
      {{/each}}
      <tr>
        <td><input type="text" id="pattern-${fileType.id}"/></td>
        <td>
          <a href="#" data-bind="click: function(){addFileTypePattern(fileType.id())}">
            <img src="images/list-add-22-22.png" title="${$.i18n.prop('add')}"/>
          </a>
        </td>
      </tr>
    </table>
    </div>
  </div>
  {{/each}}
  </div>
</div>
</script>

<script id="consumers-known-content-tmpl" type="text/html">
  <div class="page-header">
    <h4>${$.i18n.prop('repository-scanning.consumers.know-content.head')}</h4>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>${$.i18n.prop('repository-scanning.consumers.grid.enabled')}</th>
        <th>${$.i18n.prop('repository-scanning.consumers.grid.id')}</th>
        <th>${$.i18n.prop('repository-scanning.consumers.grid.description')}</th>
      </tr>
    </thead>
    <tbody>
      {{each(i,knownAdminRepositoryConsumer) knownAdminRepositoryConsumers}}
      <tr>
        {{if knownAdminRepositoryConsumer.enabled()==true}}
          <td>
            <a href="#" data-bind="click: function(){ disableKnowContentConsumer(knownAdminRepositoryConsumer) }">
              <img src="images/weather-clear-22-22.png"/>
            </a>
          </td>
          {{else}}
          <td>
            <a href="#" data-bind="click: function(){ enableKnowContentConsumer(knownAdminRepositoryConsumer) }">
              <img src="images/dialog-error-22-22.png"/>
            </a>
          </td>
        {{/if}}

        <td>${knownAdminRepositoryConsumer.id}</td>
        <td>${knownAdminRepositoryConsumer.description}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script id="consumers-invalid-content-tmpl" type="text/html">
  <div class="page-header">
    <h4>${$.i18n.prop('repository-scanning.consumers.invalid-content.head')}</h4>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>${$.i18n.prop('repository-scanning.consumers.grid.enabled')}</th>
        <th>${$.i18n.prop('repository-scanning.consumers.grid.id')}</th>
        <th>${$.i18n.prop('repository-scanning.consumers.grid.description')}</th>
      </tr>
    </thead>
    <tbody>
      {{each(i,invalidAdminRepositoryConsumer) invalidAdminRepositoryConsumers}}
      <tr>
        {{if invalidAdminRepositoryConsumer.enabled()==true}}
          <td>
            <a href="#" data-bind="click: function(){ disableInvalidContentConsumer(invalidAdminRepositoryConsumer) }">
              <img src="images/weather-clear-22-22.png"/>
            </a>
          </td>
          {{else}}
          <td>
            <a href="#" data-bind="click: function(){ enableInvalidContentConsumer(invalidAdminRepositoryConsumer) }">
              <img src="images/dialog-error-22-22.png"/>
            </a>
          </td>
        {{/if}}
        <td>${invalidAdminRepositoryConsumer.id}</td>
        <td>${invalidAdminRepositoryConsumer.description}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script id="network-configuration-screen" type="text/html">
  <div class="page-header">
    <h3>${$.i18n.prop('network-configuration.header')}</h3>
  </div>
  <div id="network-configuration-form" data-bind='template: {name:"network-configuration-form-tmpl"}'></div>
</script>

<script id="network-configuration-form-tmpl" type="text/html">
    <form id="network-proxy-edit-form" class="well form-horizontal">
      <fieldset id="network-proxy-edit-fieldset">
        <div class="control-group">
          <label class="control-label" for="maxTotal">${$.i18n.prop('network-configuration.maxTotal')}</label>
          <div class="controls">
            <input type="text" class="xlarge required digits" id="maxTotal" name="maxTotal" size="8"
                   data-bind="value: networkConfiguration().maxTotal"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="maxTotal">${$.i18n.prop('network-configuration.maxTotalPerHost')}</label>
          <div class="controls">
            <input type="text" class="xlarge required digits" id="maxTotalPerHost" name="maxTotalPerHost" size="8"
                   data-bind="value: networkConfiguration().maxTotalPerHost"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="usePooling">${$.i18n.prop('network-configuration.usePooling')}</label>
          <div class="controls">
            <input type="checkbox" id="usePooling" name="usePooling" data-bind="checked: networkConfiguration().usePooling"/>
          </div>
        </div>
      </fieldset>
      <button id="network-configuration-btn-save" data-bind="click: save" class="btn">${$.i18n.prop('save')}</button>
    </form>
</script>

<script id="system-status-main" type="text/html">

  <div class="page-header">
    <h3>${$.i18n.prop('system-status.header.main')}</h3>
  </div>
  <div class="page-header">
    <h4>${$.i18n.prop('system-status.header.queues')}</h4>
  </div>
  <div id="status_queues">
      <img src="images/small-spinner.gif"/>
  </div>

  <div class="page-header">
    <h4>${$.i18n.prop('system-status.header.scanning')}</h4>
  </div>
  <div id="status_scanning">
      <img src="images/small-spinner.gif"/>
  </div>

  <div class="page-header">
    <h4>${$.i18n.prop('system-status.header.caches')}</h4>
  </div>
  <div id="status_caches">
      <img src="images/small-spinner.gif"/>
  </div>

  <div class="page-header">
    <h4>${$.i18n.prop('system-status.header.memory')}</h4>
  </div>
  <div id="status_memory_info">
    <img src="images/small-spinner.gif"/>
  </div>

  <div class="page-header">
    <h4>${$.i18n.prop('system-status.header.current.time')}</h4>
  </div>
  <div id="status_current_time">
    <img src="images/small-spinner.gif"/>
  </div>

  <div class="page-header">
    <h4>${$.i18n.prop('system-status.header.version.info')}</h4>
  </div>
  <div id="status_version_info">
    <img src="images/small-spinner.gif"/>
  </div>

</script>

<script id="status_caches_tmpl" type="text/html">
  <a href="#" class="btn btn-warning" onclick="flushAllCaches()">
    ${$.i18n.prop('system-status.caches.flushAll')}
  </a>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>${$.i18n.prop('system-status.caches.grid.header.key')}</th>
        <th>${$.i18n.prop('system-status.caches.grid.header.size')}</th>
        <th>${$.i18n.prop('system-status.caches.grid.header.cacheHits')}</th>
        <th>${$.i18n.prop('system-status.caches.grid.header.cacheMiss')}</th>
        <th>${$.i18n.prop('system-status.caches.grid.header.cacheHitRate')}</th>
        <th>${$.i18n.prop('system-status.caches.grid.header.flush')}</th>
      </tr>
    </thead>
    <tbody>
    {{each(i,cacheEntry) cacheEntries}}
      <tr>
        <td>${cacheEntry.key}</td>
        <td>${cacheEntry.size}</td>
        <td>${cacheEntry.cacheHits}</td>
        <td>${cacheEntry.cacheMiss}</td>
        <td>${cacheEntry.cacheHitRate}</td>
        <td>
          <a href="#" onclick="flushCache('${cacheEntry.key}')">
            {{if  cacheEntry.size > 0 }}
              <img src="images/user-trash-full.png"/>
            {{else}}
              <img src="images/user-trash.png"/>
            {{/if}}
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</script>


<script id="status_queues_tmpl" type="text/html">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>${$.i18n.prop('system-status.queues.grid.header.key')}</th>
        <th>${$.i18n.prop('system-status.queues.grid.header.size')}</th>
      </tr>
    </thead>
    <tbody>
    {{each(i,queueEntry) queueEntries}}
      <tr>
        <td>${queueEntry.key}</td>
        <td>${queueEntry.entriesNumber}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</script>



