<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
  <div id="main-menu">

    <ul class="nav nav-list">
      <li class="nav-header">${$.i18n.prop('menu.artifacts')}</li>
      <li>
        <a href="#" id="menu-find-search-a" onclick="displaySearch(this)">${$.i18n.prop('menu.artifacts.search')}</a>
      </li>
      <li>
        <a href="#" id="menu-find-browse-a" onclick="displayBrowse(true)">${$.i18n.prop('menu.artifacts.browse')}</a>
      </li>
    </ul>

    <ul class="nav nav-list" redback-permissions="{permissions: ['archiva-manage-configuration']}">
      <li class="nav-header">${$.i18n.prop('menu.administration')}</li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-repository-groups-list-a" onclick="displayRepositoryGroups()">${$.i18n.prop('menu.repository.groups')}</a>
      </li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-repositories-list-a" onclick="displayRepositoriesGrid()">${$.i18n.prop('menu.repositories')}</a>
      </li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-proxy-connectors-list-a" onclick="displayProxyConnectors()">${$.i18n.prop('menu.proxy-connectors')}</a>
      </li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-network-proxies-list-a" onclick="displayNetworkProxies()">${$.i18n.prop('menu.network-proxies')}</a>
      </li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-legacy-support-list-a" onclick="displayLegacyArtifactPathSupport()">${$.i18n.prop('menu.legacy-artifact-support')}</a>
      </li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-repository-scanning-list-a" onclick="displayRepositoryScanning()">${$.i18n.prop('menu.repository-scanning')}</a>
      </li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-network-configuration-list-a" onclick="displayNetworkConfiguration()">${$.i18n.prop('menu.network-configuration')}</a>
      </li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-system-status-list-a" onclick="displaySystemStatus()">${$.i18n.prop('menu.system-status')}</a>
      </li>
      <li style="display:none" redback-permissions="{permissions: ['archiva-manage-configuration']}">
        <a href="#" id="menu-appearance-list-a" onclick="displayAppearanceConfiguration()">${$.i18n.prop('menu.appearance-configuration')}</a>
      </li>


    </ul>

    <ul class="nav nav-list" redback-permissions="{permissions: ['archiva-manage-users']}">
      <li class="nav-header">${$.i18n.prop('menu.users')}</li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-users']}">
        <a href="#" id="menu-users-list-a" onclick="displayUsersGrid(this)">${$.i18n.prop('menu.users.manage')}</a>
      </li>
      <li style="display: none" redback-permissions="{permissions: ['archiva-manage-users']}">
        <a href="#" id="menu-roles-list-a" onclick="displayRolesGrid()">${$.i18n.prop('menu.users.roles')}</a>
      </li>
    </ul>

  </div>
