<script id='alert-message-success' type='text/x-jquery-tmpl'>
  <div class="alert-message fade in success">
    <a class="close" href="#">×</a>
    <p>${message}</p>
  </div>
</script>
<script id='alert-message-error' type='text/x-jquery-tmpl'>
  <div class="alert-message fade in error">
    <a class="close" href="#">×</a>
    <p>${message}</p>
  </div>
</script>
<script id='alert-message-warning' type='text/x-jquery-tmpl'>
  <div class="alert-message fade in warning">
    <a class="close" href="#">×</a>
    <p>${message}</p>
  </div>
</script>

