<script id='alert-message-success' type='text/x-jquery-tmpl'>
  <div class="alert-message fade in success" data-alert="alert">
    <a class="close" href="#" id='alert-message-success-close-a'>&#215;</a>
    <p>${message}</p>
  </div>
</script>
<script id='alert-message-error' type='text/x-jquery-tmpl'>
  <div class="alert-message fade in error" data-alert="alert">
    <a class="close" href="#" id='alert-message-error-close-a'>&#215;</a>
    <p>${message}</p>
  </div>
</script>
<script id='alert-message-warning' type='text/x-jquery-tmpl'>
  <div class="alert-message fade in warning" data-alert="alert">
    <a class="close" href="#" id='alert-message-warning-close-a'>&#215;</a>
    <p>${message}</p>
  </div>
</script>

