<div id="dialog-confirm-modal" class="modal hide fade" style="display: block;">
  <div class="modal-header">
    <a class="close" href="#">×</a>
    <h3 id="dialog-confirm-modal-header-title"></h3>
  </div>
  <div class="modal-body">
   <p id="dialog-confirm-modal-body-text"></p>
  </div>
  <div class="modal-footer">
    <a class="btn secondary" id="dialog-confirm-modal-cancel" href="#">${$.i18n.prop('cancel')}</a>
    <a class="btn primary" id="dialog-confirm-modal-ok" href="#">${$.i18n.prop('ok')}</a>
  </div>
</div>