<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id="proxyConnectorsMain" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h2>${$.i18n.prop('proxy-connectors.list')}</h2>
  </div>

  <ul id="proxy-connectors-view-tabs" class="nav nav-tabs">
    <li id="proxy-connectors-view-tabs-li-grid" class="active">
      <a data-toggle="tab" href="#proxy-connectors-view" id="proxy-connectors-view-tabs-a-network-proxies-grid">${$.i18n.prop('proxy-connectors.grid.tab.title')}</a>
    </li>
    <li id="proxy-connectors-view-tabs-li-edit">
      <a data-toggle="tab" href="#proxy-connectors-edit" id="proxy-connectors-view-tabs-a-edit">${$.i18n.prop('add')}</a>
    </li>
  </ul>
  <div id="proxy-connectors-view-tabs-content" class="tab-content">
    <div id="proxy-connectors-view" class="tab-pane active">
      <table class="table table-striped table-bordered" id="proxyConnectorsTable"
             data-bind="simpleGrid: gridViewModel,simpleGridTemplate:'ko-proxy-connectors-grid',pageLinksId:'proxy-connectorsPagination'">
      </table>
      <div id="proxy-connectorsPagination"></div>
    </div>
    <div id="proxy-connectors-edit" class="tab-pane"></div>
  </div>

</script>

<script id='ko-proxy-connectors-grid' type='text/x-jquery-tmpl'>
  <thead>
    <tr>
      <th title="${$.i18n.prop('proxy-connectors.grid.managedrepo.title')}">
        ${$.i18n.prop('proxy-connectors.grid.managedrepo.grid.header')}
      </th>
      <th title="${$.i18n.prop('proxy-connectors.grid.remoterepo.title')}">
        ${$.i18n.prop('proxy-connectors.grid.remoterepo.grid.header')}
      </th>
    </tr>
  </thead>

  {{each(i, row) itemsOnCurrentPage()}}
    <tr>
      <td>
        <blockquote>
          <p>${getManagedRepository(row).id()}</p>
          <p>${getManagedRepository(row).name()}</p>
        </blockquote>
      </td>
      <td>
        {{each(j, targetRepo) getRemoteRepositories(row)}}
          {{var targetRepoId = targetRepo.id()}}
          <blockquote>
            <p>${targetRepoId}</p>
            <p>${getRemoteRepository(targetRepoId).name()}</p>
            <p>${getRemoteRepository(targetRepoId).url()}</p>
            <p>
              <a popover-title="${$.i18n.prop('proxy-connectors.grid.remoterepo.settings.popover.title')}"
                 data-bind="event: { mouseover: function(){ showSettings(row,targetRepoId)},},click: function(){ editProxyConnector(row)}"
                 id="proxy-connectors-grid-remoterepo-settings-edit-${row}-${targetRepoId}" href="#">
                  ${$.i18n.prop('edit')}
              </a>
                <a href="#" data-bind="click: function(){ removeProxyConnector(row,targetRepo)}">
                  <img src="images/edit-cut.png" title="${$.i18n.prop('delete')}"/>
                </a>
              <div id="proxy-connectors-grid-remoterepo-settings-content-${val}-${targetRepoId}" style="display:none"></div>
            </p>
          </blockquote>
        {{/each}}
      </td>
    </tr>
  {{/each}}
</script>

<script id='proxy-connectors-remote-settings-popover-tmpl' type='text/x-jquery-tmpl'>
  <div>
    {{if proxyId()}}
      ${$.i18n.prop('proxy-connectors.remoterepo.settings.networkproxy')}: ${proxyId()}
    {{else}}
      ${$.i18n.prop('proxy-connectors.remoterepo.settings.networkproxy')}: ${$.i18n.prop('none')}
    {{/if}}
    <table class="table">
      <thead>
        <th colspan="2">${$.i18n.prop('proxy-connector.policies')}</th>
      </thead>
      <tbody>
        {{each policies().entry}}
        <tr>
          <td>${$value.key}</td>
          <td>${$value.value}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>

<script id="proxy-connector-edit-form-tmpl" type='text/x-jquery-tmpl'>

    <form id="proxy-connector-edit-form" class="form-horizontal">
      <fieldset id="remote-repository-edit-fieldset">
        <div class="control-group">
          <label class="control-label" for="proxyId">${$.i18n.prop('proxy-connector.network-proxy.id')}</label>
          <div class="controls">
            <select id="proxyId"
                    data-bind="options: proxyConnectorsViewModel.networkProxies, optionsText: 'id',optionsValue:'id',
                     value: proxyConnector.proxyId, optionsCaption: 'direct connection'"></select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="proxyId">${$.i18n.prop('proxy-connector.managed.repository.id')}</label>
          <div class="controls">
            <select id="sourceRepoId"
                    data-bind="options: proxyConnectorsViewModel.managedRepositories, optionsText: 'id',optionsValue:'id',
                     value: proxyConnector.sourceRepoId"></select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="proxyId">${$.i18n.prop('proxy-connector.remote.repository.id')}</label>
          <div class="controls">
            <select id="targetRepoId"
                    data-bind="options: proxyConnectorsViewModel.remoteRepositories, optionsText: 'id',optionsValue:'id',
                     value: proxyConnector.targetRepoId"></select>
          </div>
        </div>
        <div class="control-group span6">
            <table class="table">
              <thead>
                <th colspan="2">${$.i18n.prop('proxy-connector.policies')}</th>
              </thead>
              <tbody data-bind="foreach: proxyConnectorsViewModel.policyInformations()">
                  <tr>
                    <td data-bind="text: name"></td>
                    <td>
                      <select data-bind="options: getPolicyOptions(id()),value:getSelectedPolicyOption(id()),attr: { id: 'policy-'+id() }"></select>
                    </td>
                  </tr>
              </tbody>
            </table>
        </div>
        <div class="control-group span6">
          <h4>${$.i18n.prop('proxy-connector.properties')}</h4>

            <table class="table">
              <thead>
                <th><input type="text" id="property-key"/></th>
                <th><input type="text" id="property-value"/></th>
                <th><a href="#" data-bind="click: function(){ addProperty() }">${$.i18n.prop('add')}</a></th>
              </thead>
              <tbody data-bind="foreach: proxyConnector.properties">
                <tr>
                  <td data-bind="text: key"></td>
                  <td data-bind="text: value"></td>
                  <td><a href="#" data-bind="click: function(){deleteProperty(key)}">${$.i18n.prop('delete')}</a></td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="control-group span6">
            <h4>${$.i18n.prop('proxy-connector.blacklist')}</h4>
            <table class="table">
              <thead>
                <th><input type="text" id="blacklist-value"/></th>
                <th><a href="#" data-bind="click: function(){ addBlacklistPattern() }">${$.i18n.prop('add')}</a></th>
              </thead>
              <tbody data-bind="foreach: proxyConnector.blackListPatterns">
                <tr>
                  <td data-bind="text: $data"></td>
                  <td><a href="#" data-bind="click: function(){removeBlacklistPattern($data)}">${$.i18n.prop('delete')}</a></td>
                </tr>
              </tbody>
            </table>
        </div>


          <div class="control-group span6">
            <h4>${$.i18n.prop('proxy-connector.whitelist')}</h4>
            <table class="table">
              <thead>
                <th><input type="text" id="whitelist-value"/></th>
                <th><a href="#" data-bind="click: function(){ addWhitelistPattern() }">${$.i18n.prop('add')}</a></th>
              </thead>
              <tbody data-bind="foreach: proxyConnector.whiteListPatterns">
                <tr>
                  <td data-bind="text: $data"></td>
                  <td><a href="#" data-bind="click: function(){removeWhitelistPattern($data)}">${$.i18n.prop('delete')}</a></td>
                </tr>
              </tbody>
            </table>
        </div>

      </fieldset>

      <button id="proxy-connector-btn-save" data-bind="click: save" class="btn">${$.i18n.prop('save')}</button>
      {{if modified()}}
       ${("#network-proxy-btn-save").button('reset')}
      {{/if}}
      <button data-bind="click: displayGrid" class="btn">${$.i18n.prop('cancel')}</button>

    </form>

</script>
