<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id="proxyConnectorsMain" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h2>${$.i18n.prop('proxy-connectors.list')}</h2>
  </div>

  <ul id="proxy-connector-view-tabs" class="tabs">
    <li id="network-proxies-view-tabs-li-grid" class="active">
      <a href="#network-proxies-view" id="network-proxies-view-tabs-a-network-proxies-grid">${$.i18n.prop('network-proxies.grid.tab.title')}</a>
    </li>
    <li id="network-proxies-view-tabs-li-edit">
      <a href="#network-proxies-edit">${$.i18n.prop('add')}</a>
    </li>
  </ul>
  <div id="network-proxies-view-tabs-content" class="tab-content">
    <div id="network-proxies-view" class="active">
        <table class="bordered-table zebra-striped" id="networkProxiesTable>
               data-bind="simpleGrid: gridViewModel,simpleGridTemplate:'ko-network-proxies-grid',pageLinksId:'network-proxiesPagination'">
        </table>
        <div id="network-proxiesPagination"></div>
    </div>
    <div id="network-proxies-edit" data-bind='template: {name:"network-proxy-edit-tmpl"}'></div>
  </div>

</script>