<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id="repositoriesMain" type="text/x-jquery-tmpl">
    <div class="page-header">
      <h2>${$.i18n.prop('administration.repositories')}</h2>
    </div>

      <ul id="repositories-tabs" class="tabs">
        <li class="active">
          <a href="#managed-repositories-content">${$.i18n.prop('managedrepositories.grid.head')}</a>
        </li>  
        <li>
          <a href="#remote-repositories-content">${$.i18n.prop('remoterepositories.grid.head')}</a>
        </li>
      </ul>  
      <div class="tab-content">
    	<div id="managed-repositories-content" class="active">
            <ul id="managed-repositories-pills" class="pills">
              <li class="active" id="managed-repositories-view-li">
                <a href="#managed-repositories-view">${$.i18n.prop('managedrepositories.grid.tab.title')}</a>
              </li>
              <li id="managed-repository-edit-li">
                <a href="#managed-repository-edit">${$.i18n.prop('add')}</a>
              </li>
            </ul>
            <div id="managed-repositories-tabs-content" class="pill-content">
              <div id="managed-repositories-view" class="active">
                  <table class="bordered-table zebra-striped" id="managed-repositories-table"
                         data-bind="simpleGrid: gridViewModel,simpleGridTemplate:'ko_managed-repositoriesGrid',pageLinksId:'managed-repositoriesPagination',data:'managedRepositories'">
                  </table>
                  <div id="managed-repositoriesPagination"></div>
                  <div id="managed-repositories-pom-snippet"></div>
              </div>
              <div id="managed-repository-edit" data-bind='template: {name:"managed-repository-edit-tmpl"}'>
              </div>
            </div>
    	</div>


    	<div id="remote-repositories-content">
    		grid to view edit remote repositories
    	</div>
      </div>
</script>

<script id='ko_managed-repositoriesGrid' type='text/x-jquery-tmpl'>
  <thead>
      <tr>
        {{each(i, columnDefinition) columns}}
          <th title="${ columnDefinition.title }">${ columnDefinition.headerText }</th>
        {{/each}}
        <th>Releases</th>
        <th>Snapshots</th>
        <th>Scan</th>
        <th>${$.i18n.prop('edit')}</th>
        <th>${$.i18n.prop('delete')}</th>
        <th>${$.i18n.prop('managedrepository.pomsnippet')}</th>
        <th title="${$.i18n.prop('managedrepository.stats')}">Stats</th>
      </tr>
  </thead>
  <tbody>
      {{each(i, row) itemsOnCurrentPage()}}
          <tr>
            {{each(j, columnDefinition) columns}}
              <td>${ typeof columnDefinition.rowText == 'function' ? columnDefinition.rowText(row) : row[columnDefinition.rowText] }</td>
            {{/each}}
            <td>
            {{if row.releases() == true}}
              <img src="images/weather-clear.png" title="${$.i18n.prop('release.included')}"/>
            {{else}}
              <img src="images/dialog-error.png" title="${$.i18n.prop('release.notincluded')}"/>
            {{/if}}
            </td>

            <td>
              {{if row.snapshots() == true}}
                <img src="images/weather-clear.png" title="${$.i18n.prop('snapshots.included')}"/>
              {{else}}
                  <img src="images/dialog-error.png" title="${$.i18n.prop('snapshots.notincluded')}"/>
              {{/if}}
            </td>
            <td>
              <a href="#" data-bind="click: function(){ scanNow(row) }">
                <img src="images/view-refresh.png" title="${$.i18n.prop('managedrepository.scan.now')}"/>
              </a>
            </td>
            <td><a href="#" data-bind="click: function(){ editManagedRepository(row) }">${$.i18n.prop('edit')}</a></td>
            <td>
              <a href="#" data-bind="click: function(){ removeManagedRepository(row) }">
                <img src="images/edit-cut.png" title="${$.i18n.prop('delete')}"/>
              </a>
            </td>
            <td><a href="#" data-bind="click: function(){ showPomSnippet(row) }">${$.i18n.prop('managedrepository.pomsnippet')}</a></td>
            <td id="managedrepository-stats-${row.id()}">
              <img src="images/utilities-system-monitor.png" popover-title="${$.i18n.prop('managedrepository.stats')}"
                   data-bind="event: { mouseover: function(){ showStats(row) }, mouseout: function(){ hideStats(row) },}"
                   id="managedrepository-stats-img-${row.id()}"/>
            </td>
          </tr>
      {{/each}}
  </tbody>

</script>

<script id="managed-repository-edit-tmpl" type='text/x-jquery-tmpl'>
    <form id="managed-repository-edit-form">
      <fieldset id="managed-repository-edit-fieldset">
        <div class="clearfix">
          <label for="name">${$.i18n.prop('id')}</label>
          <div class="input">
            {{if update}}
              <span class="uneditable-input">${$data.managedRepository.id}</span>
            {{else}}
              <input type="text" class="xlarge required" id="id" name="id" size="50"
                     data-bind="value: managedRepository.id,css:{'uneditable-input': update},readonly:update"/>
            {{/if}}
          </div>
        </div>
        <div class="clearfix">
          <label for="name">${$.i18n.prop('name')}</label>
          <div class="input">
            <input type="text" class="xlarge required" id="name" name="name" size="50"
                   data-bind="value: managedRepository.name"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="location">${$.i18n.prop('directory')}</label>
          <div class="input">
            <input type="text" class="xlarge required" id="location" name="location" size="50" data-bind="value: managedRepository.location"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="indexDirectory">${$.i18n.prop('index.directory')}</label>
          <div class="input">
            <input type="text" class="xlarge" id="indexDirectory" name="indexDirectory" size="50" data-bind="value: managedRepository.indexDirectory"/>
          </div>
        </div>
          <div class="clearfix">
            <label for="layout">${$.i18n.prop('type')}</label>
            <div class="input">
              <select id="layout" data-bind="options: availableLayouts,optionsText: 'label',optionsValue:'type',value: managedRepository.layout"/>
            </div>
          </div>
        <div class="clearfix">
          <label for="cronExpression">${$.i18n.prop('cronExpression')}</label>
          <div class="input">
            <input type="text" id="cronExpression" class="required" name="cronExpression" size="40" data-bind="value: managedRepository.cronExpression"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="daysOlder">${$.i18n.prop('daysOlder')}</label>
          <div class="input">
            <input type="text" id="daysOlder" class="digits" name="daysOlder" size="5" data-bind="value: managedRepository.daysOlder"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="retentionCount">${$.i18n.prop('retentionCount')}</label>
          <div class="input">
            <input type="text" id="retentionCount" name="retentionCount" size="5" data-bind="value: managedRepository.retentionCount"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="releases">${$.i18n.prop('releases')}</label>
          <div class="input">
            <input type="checkbox" id="releases" name="releases" size="5" data-bind="checked: managedRepository.releases"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="snapshots">${$.i18n.prop('snapshots')}</label>
          <div class="input">
            <input type="checkbox" id="snapshots" name="snapshots" size="5" data-bind="checked: managedRepository.snapshots"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="blockRedeployments">${$.i18n.prop('blockRedeployments')}</label>
          <div class="input">
            <input type="checkbox" id="blockRedeployments" name="blockRedeployments" size="5" data-bind="checked: managedRepository.blockRedeployments"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="scanned">${$.i18n.prop('scanned')}</label>
          <div class="input">
            <input type="checkbox" id="scanned" name="scanned" size="5" data-bind="checked: managedRepository.scanned"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="deleteReleasedSnapshots">${$.i18n.prop('deleteReleasedSnapshots')}</label>
          <div class="input">
            <input type="checkbox" id="deleteReleasedSnapshots" name="deleteReleasedSnapshots" size="5"
                   data-bind="checked: managedRepository.deleteReleasedSnapshots"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="stageRepoNeeded">${$.i18n.prop('stageRepoNeeded')}</label>
          <div class="input">
            <input type="checkbox" id="stageRepoNeeded" name="stageRepoNeeded" size="5"
                   data-bind="checked: managedRepository.stageRepoNeeded"/>
          </div>
        </div>
      </fieldset>
      <button data-bind="click: save" class="btn">${$.i18n.prop('save')}</button>
      <button data-bind="click: displayGrid" class="btn">${$.i18n.prop('cancel')}</button>
    </form>
</script>

<script id="managed-repository-delete-warning-tmpl" type='text/x-jquery-tmpl'>
  <div>
    <a class="close" href="#">&#215;</a>
    <div class="alert-message warning">
      <p>
        <strong>${$.i18n.prop('warning.not.undone.operation')}</strong>
      </p>
    </div>
    <div>
      <span><strong>${$.i18n.prop('managedrepository.delete.warning.message')}</strong>.</span>
      <div>${$.i18n.prop('id')}: ${id()}</div>
      <div>${$.i18n.prop('name')}: ${name()}</div>
    </div>
    <div>
        ${$.i18n.prop('managedrepository.delete.content')}: <input type="checkbox" id="managedrepository-deletecontent">
    </div>
  </div>
</script>
<script id="managed-repository-location-warning-tmpl" type='text/x-jquery-tmpl'>
  <div>
    <a class="close" href="#">&#215;</a>
    <div class="alert-message warning">
      <p>
        <strong>${$.i18n.prop('managedrepository.location.already.exists')}</strong>
      </p>
    </div>
    <div>
      <span><strong>${$.i18n.prop('managedrepository.location.already.exists.warning.message')}</strong>.</span>
      <div>${$.i18n.prop('id')}: ${id()}</div>
      <div>${$.i18n.prop('name')}: ${name()}</div>
    </div>
  </div>
</script>
<script id="managed-repository-scan-now-modal-tmpl" type='text/x-jquery-tmpl'>
  <div>
    ${$.i18n.prop('managedrepository.scan.all')}: <input type="checkbox" id="managed-repository-scan-now-all">
  </div>
</script>
<script id="managed-repository-stats-tmpl" type='text/x-jquery-tmpl'>
  <div id="managedrepository-stats-${managedRepository.id()}-popover" style="display:none">
    <div>${$.i18n.prop('managedrepository.stats.endTime')}: ${scanEndTime()}</div>
    <div>${$.i18n.prop('managedrepository.stats.duration')}: ${duration()}ms</div>
    <div>${$.i18n.prop('managedrepository.stats.totalFileCount')}: ${totalFileCount()}</div>
    <div>${$.i18n.prop('managedrepository.stats.newFileCount')}: ${newFileCount()}</div>
  </div>
</script>
<script id="pom-snippet-tmpl" type='text/x-jquery-tmpl'>
    <div class="page-header">
    <h2>POM Snippet</h2></div>
    <pre>${$data}</pre>
</script>