<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id="repositoriesMain" type="text/x-jquery-tmpl">
    <div class="page-header">
      <h2>${$.i18n.prop('administration.repositories')}</h2>
    </div>

      <ul id="repositories-tabs" class="tabs">
        <li class="active">
          <a href="#managed-repositories-content">${$.i18n.prop('managedrepositories.grid.head')}</a>
        </li>  
        <li>
          <a href="#remote-repositories-content">${$.i18n.prop('remoterepositories.grid.head')}</a>
        </li>
      </ul>  
      <div class="tab-content">
    	<div id="managed-repositories-content" class="active">
            <ul id="managed-repositories-pills" class="pills">
              <li class="active" id="managed-repositories-view-li">
                <a href="#managed-repositories-view">${$.i18n.prop('managedrepositories.grid.tab.title')}</a>
              </li>
              <li id="managed-repository-edit-li">
                <a href="#managed-repository-edit">${$.i18n.prop('add')}</a>
              </li>
            </ul>
            <div id="managed-repositories-tabs-content" class="pill-content">
              <div id="managed-repositories-view" class="active">
                  <table class="bordered-table zebra-striped" id="managed-repositories-table"
                         data-bind="simpleGrid: gridViewModel,simpleGridTemplate:'ko_managed-repositoriesGrid',pageLinksId:'managed-repositoriesPagination'">
                  </table>
                  <div id="managed-repositoriesPagination"></div>
              </div>
              <div id="managed-repository-edit" data-bind='template: {name:"managed-repository-edit-tmpl"}'>

              </div>
            </div>
    	</div>


    	<div id="remote-repositories-content">
    		grid to view edit remote repositories
    	</div>
      </div>
</script>

<script id='ko_managed-repositoriesGrid' type='text/x-jquery-tmpl'>
  <thead>
      <tr>
        {{each(i, columnDefinition) columns}}
          <th title="${ columnDefinition.title }">${ columnDefinition.headerText }</th>
        {{/each}}
        <th>${$.i18n.prop('release.included')}</th>
        <th>${$.i18n.prop('snapshots.included')}</th>
        <th>${$.i18n.prop('edit')}</th>

      </tr>
  </thead>
  <tbody>
      {{each(i, row) itemsOnCurrentPage()}}
          <tr>
            {{each(j, columnDefinition) columns}}
              <td>${ typeof columnDefinition.rowText == 'function' ? columnDefinition.rowText(row) : row[columnDefinition.rowText] }</td>
            {{/each}}
            <td>
            {{if row.releases() == true}}
              <img src="images/weather-clear.png"/>
            {{else}}
                <img src="images/dialog-error.png"/>
            {{/if}}
            </td>

            <td>
              {{if row.snapshots() == true}}
                <img src="images/weather-clear.png"/>
              {{else}}
                  <img src="images/dialog-error.png"/>
              {{/if}}
            </td>
            <td><a href="#" data-bind="click: function(){ editManagedRepository(row) }">Edit</a></td>
          </tr>
      {{/each}}
  </tbody>

</script>

<script id="managed-repository-edit-tmpl" type='text/x-jquery-tmpl'>
    <form id="managed-repository-edit-form">
      <fieldset id="managed-repository-edit-fieldset">
        <div class="clearfix">
          <label for="name">${$.i18n.prop('id')}</label>
          <div class="input">
            {{if update}}
              <span class="uneditable-input">${$data.managedRepository().id}</span>
            {{else}}
              <input type="text" class="xlarge" id="id" name="id" size="50" class="required"
                     data-bind="value: managedRepository().id,css:{'uneditable-input': update},readonly:update"/>
            {{/if}}
          </div>
        </div>
        <div class="clearfix">
          <label for="name">${$.i18n.prop('name')}</label>
          <div class="input">
            <input type="text" class="xlarge" id="name" name="name" size="50" class="required"
                   data-bind="value: managedRepository().name"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="location">${$.i18n.prop('directory')}</label>
          <div class="input">
            <input type="text" class="xlarge" id="location" name="location" size="50" class="required" data-bind="value: managedRepository().location"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="indexDirectory">${$.i18n.prop('index.directory')}</label>
          <div class="input">
            <input type="text" class="xlarge" id="indexDirectory" name="indexDirectory" size="50" data-bind="value: managedRepository().indexDirectory"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="cronExpression">${$.i18n.prop('cronExpression')}</label>
          <div class="input">
            <input type="text" id="cronExpression" name="daysOlder" size="40" data-bind="value: managedRepository().cronExpression"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="daysOlder">${$.i18n.prop('daysOlder')}</label>
          <div class="input">
            <input type="text" id="daysOlder" name="daysOlder" size="5" data-bind="value: managedRepository().daysOlder"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="retentionCount">${$.i18n.prop('retentionCount')}</label>
          <div class="input">
            <input type="text" id="retentionCount" name="retentionCount" size="5" data-bind="value: managedRepository().retentionCount"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="releases">${$.i18n.prop('releases')}</label>
          <div class="input">
            <input type="checkbox" id="releases" name="releases" size="5" data-bind="checked: managedRepository().releases"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="snapshots">${$.i18n.prop('snapshots')}</label>
          <div class="input">
            <input type="checkbox" id="snapshots" name="snapshots" size="5" data-bind="checked: managedRepository().snapshots"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="blockRedeployments">${$.i18n.prop('blockRedeployments')}</label>
          <div class="input">
            <input type="checkbox" id="blockRedeployments" name="blockRedeployments" size="5" data-bind="checked: managedRepository().blockRedeployments"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="scanned">${$.i18n.prop('scanned')}</label>
          <div class="input">
            <input type="checkbox" id="scanned" name="scanned" size="5" data-bind="checked: managedRepository().scanned"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="deleteReleasedSnapshots">${$.i18n.prop('deleteReleasedSnapshots')}</label>
          <div class="input">
            <input type="checkbox" id="deleteReleasedSnapshots" name="deleteReleasedSnapshots" size="5" data-bind="checked: managedRepository().deleteReleasedSnapshots"/>
          </div>
        </div>
        <div class="clearfix">
          <label for="stageRepoNeeded">${$.i18n.prop('stageRepoNeeded')}</label>
          <div class="input">
            <input type="checkbox" id="stageRepoNeeded" name="stageRepoNeeded" size="5" data-bind="checked: managedRepository().stageRepoNeeded"/>
          </div>
        </div>
      </fieldset>
      <button data-bind="click: save" class="btn">${$.i18n.prop('save')}</button>
      <button data-bind="click: displayGrid" class="btn">${$.i18n.prop('cancel')}</button>
    </form>
</script>