<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->
<script id="repositoryGroupsMain" type="text/x-jquery-tmpl">
  <div class="page-header">
    <h2>${$.i18n.prop('repository.groups.list')}</h2>
  </div>
  <ul id="repository-groups-view-tabs" class="nav nav-tabs">
    <li id="repository-groups-view-tabs-li-grid" class="active">
      <a data-toggle="tab" href="#repository-groups-view" id="repository-groups-view-tabs-a-network-proxies-grid">
        ${$.i18n.prop('repository-groups.grid.tab.title')}
      </a>
    </li>
    <li id="repository-groups-view-tabs-li-edit">
      <a data-toggle="tab" href="#repository-groups-edit" id="repository-groups-view-tabs-a-edit">${$.i18n.prop('add')}</a>
    </li>

  </ul>
  <div id="repository-groups-view-tabs-content" class="tab-content">
        <div id="repository-groups-view" class="tab-pane active">
          <div id="repository-groups-table" data-bind='template:{name:"repository-groups-table-tmpl"}'>
          </div>
        </div>
        <div id="repository-groups-edit" class="tab-pane">
              <div class="row-fluid">
                <div class="span5 dotted">
                  <div id="repository-groups-edit-div" data-bind='template:{name:"repository-group-edit-tmpl"}'></div>
                  <div id="repository-groups-edit-order-div" style="min-height: 80px"
                     data-bind="sortable: { template: 'repository-group-edit-order-tmpl',data:repositoryGroup.managedRepositories,afterMove:repositoryMoved}">
                  </div>
                </div>

                <div class="span5 dotted">
                  <h5>${$.i18n.prop('repository.groups.available.repositories')}</h5>
                  <br/>
                  <div id="repository-groups-edit-available-repositories" style="min-height: 80px"
                       data-bind="sortable: { template: 'repository-group-edit-order-tmpl',data:availableRepositories,afterMove:repositoryMoved}">

                  </div>
                </div>

              </div>

        </div>

  </div>
</script>

<script id="repository-groups-table-tmpl" type="text/html">
  <table class="table table-striped table-bordered">
    <thead>
      <th>${$.i18n.prop('repository.groups.groups.grid.header')}</th>
      <th>${$.i18n.prop('repository.groups.repositories.grid.header')}</th>
      <th>${$.i18n.prop('edit')}</th>
      <th>${$.i18n.prop('delete')}</th>
      <th>${$.i18n.prop('save')}</th>
    </thead>
    <tbody>
    {{each(i, repositoryGroup) repositoryGroups}}
      <tr data-bind="css:{ 'modified': repositoryGroup.modified()}">
        <td>${repositoryGroup.id}</td>
        <td>
          <ul>
          {{each(j,id) repositoryGroup.repositories()}}
            <li>${id}</li>
          {{/each}}
          </ul>
        </td>
        <td>
          <a href="#" data-bind="click: function(){editRepositoryGroup(repositoryGroup)}">
            <img src="images/edit-find-22-22.png" title="${$.i18n.prop('edit')}">
          </a>
        </td>
        <td>
          <a href="#" data-bind="click: function(){deleteRepositoryGroup(repositoryGroup)}">
            <img src="images/edit-cut-22-22.png" title="${$.i18n.prop('delete')}"/>
          </a>
        </td>
        <td>
          {{if repositoryGroup.modified()}}
            <a href="#" class="btn btn-warning" data-bind="click: function(){saveRepositoryGroup(repositoryGroup)}">
              ${$.i18n.prop('save')}
            </a>
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</script>

<script id="repository-group-edit-tmpl" type="text/html">
  <div class="row-fluid">
  {{if update}}
    <div class="dotted span7">
      <blockquote>
        ${repositoryGroup.id}
        <br/>
        <a href="${window.archivaRuntimeInfo.baseUrl}/repository/${repositoryGroup.id()}" target="_blank">
          ${window.archivaRuntimeInfo.baseUrl}/repository/${repositoryGroup.id()}
        </a>
      </blockquote>
    </div>
  {{else}}
    <div class="dotted span7">
      <form id="repository-group-edit-form" class="">
        <fieldset id="repository-group-edit-fieldset">
          <div class="control-group">
            <label class="control-label" for="id">${$.i18n.prop('id')}</label>
            <div class="controls">
              <input type="text" class="xlarge required" id="id" name="id" size="15"
                   data-bind="value: repositoryGroup.id,css:{'uneditable-input': update},readonly:update"/>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  {{/if}}
  {{if repositoryGroup.modified()}}
    <div class="span3">
      <a href="#" class="btn btn-warning" data-bind="click: function(){saveRepositoryGroup(repositoryGroup)}">${$.i18n.prop('save')}</a>
    </div>
    <br/>
  {{/if}}
  </div>
</script>

<script id="repository-group-edit-order-tmpl" type="text/html">
  <div class="well draggable-item">
    <blockquote>
      ${$data.id()}
      <br/>
      ${$data.name()}
      <br/>
      <a href="${window.archivaRuntimeInfo.baseUrl}/repository/${$data.id()}" target="_blank">
        ${window.archivaRuntimeInfo.baseUrl}/repository/${$data.id()}
      </a>
      <br/>
    </blockquote>

  </div>
</script>