<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<script id="browse-tmpl" type="text/html">
  <div>
    <div class="page-header">
      <h2>${$.i18n.prop('browse.repository')}</h2>
    </div>
  </div>
  <div id="main_browse_result">
    <div id="main_browse_result_content" class="well">
      <div id="selected_repository"></div>
      <div id="browse_breadcrumb" data-bind='template:{name:"browse-breadcrumb-tmpl"}'></div>
      <div id="browse_result" class="well" data-bind='template:{name:"browse-groups-tmpl"}'></div>
      <div id="browse_artifact" class="well" data-bind='template:{name:"browse-artifact-tmpl"}'></div>
    </div>
  </div>
</script>

<script id="browse-groups-div-tmpl" type="text/html">
  <div id="browse-groups-div" data-bind='template:{name:"browse-groups-tmpl"}'>
  </div>
</script>

<script id="browse-groups-tmpl" type="text/html">
  <div>
    <ul>
      <!-- if null we are on root level -->
      {{if $root.parentBrowseViewModel}}
        <li class="browse-list" data-bind="click:function(){displayParentGroupId()}">
          <a href="#">..</a>
        </li>
      {{/if}}
      {{each(i,browseResultEntry) browseResultEntries}}
        {{if browseResultEntry.project}}
          <li class="browse-list-project" data-bind="click:function(){displayProjectEntry(browseResultEntry.name)}">
            <a href="#">${displayEntry(browseResultEntry.name)}</a>
        {{else}}
          <li class="browse-list" data-bind="click:function(){displayGroupId(browseResultEntry.name)}">
            <a href="#" title="folder ${displayEntry(browseResultEntry.name)}">${displayEntry(browseResultEntry.name)}</a>
        {{/if}}          
          </li>
      {{/each}}
    </ul>
  </div>
</script>

<script id="browse-breadcrumb-tmpl" type="text/html">
  <ul class="breadcrumb">
    <li>
      <a href="#" data-bind="click: function(){ browseRoot()}"><img src="images/go-home.png"/></a>&nbsp;<span class="divider">/</span>
    </li>
    {{var number=breadCrumbEntries().length}}
    {{each(i,breadCrumbEntry) breadCrumbEntries}}
      <li>
        {{if i==(number-1)}}
          ${breadCrumbEntry.displayValue}
        {{else}}
          <a href="#" data-bind="click: function(){displayGroupId(breadCrumbEntry.groupId)}">${breadCrumbEntry.displayValue}</a>
        {{/if}}
        {{if i<(number-1)}}
          <span class="divider">/</span>
        {{/if}}
      </li>
    {{/each}}
    <li>
      {{if number>0}}
        <span class="divider">/</span>
      {{/if}}
      <input type="text" class="form-search span4" size="50" id="browse-autocomplete"/>
    </li>
  </ul>

</script>

<script id="browse-artifact-tmpl" type="text/html">
  <div class="row-fluid">
    <div class="span6">
      <div class="page-header">
        <h4>${$.i18n.prop('browse.artifact.display.artifactInfo')}</h4>
      </div>
      <div id="artifact-info" class="alert alert-info">
        <table class="table table-condensed">
          <tbody>
            <tr>
              <th>${$.i18n.prop('browse.artifact.groupId')}</th>
              <td>${groupId}</td>
            </tr>
            <tr>
              <th>${$.i18n.prop('browse.artifact.artifactId')}</th>
              <td>${artifactId}</td>
            </tr>
            <tr>
              <th>${$.i18n.prop('browse.artifact.name')}</th>
              <td>${projectVersionMetadata.name}</td>
            </tr>
            <tr>
              <th>${$.i18n.prop('browse.artifact.description')}</th>
              <td>${projectVersionMetadata.description}</td>
            </tr>
            {{if projectVersionMetadata.organization}}
            <tr>
              <th>${$.i18n.prop('browse.artifact.organization.name')}</th>
              {{if projectVersionMetadata.organization.url}}
                <td>
                  <a href="${projectVersionMetadata.organization.url}" target="_blank">
                    <img src="images/internet-web-browser.png" alt=""/>${projectVersionMetadata.organization.name}
                  </a>
                </td>
              {{else}}
                <td>${projectVersionMetadata.organization.name}</td>
              {{/if}}
            </tr>
            {{/if}}
            {{if projectVersionMetadata.issueManagement}}
            <tr>
              <th>${$.i18n.prop('browse.artifact.organization.issueManagement')}</th>
              <td>
                <a href="${projectVersionMetadata.issueManagement.url}" target="_blank">
                  <img src="images/internet-web-browser.png" alt=""/>${projectVersionMetadata.issueManagement.system}
                </a>
              </td>
            </tr>
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="span4">
      <div class="page-header">
        <h4>${$.i18n.prop('browse.artifact.versions')}</h4>
      </div>
      <div class="alert alert-success">
        <table class="table table-condensed">
        {{each(i,version) versions}}
          <tr><th>${version}</th></tr>
        {{/each}}
        </table>
      </div>
    </div>
  </div>
</script>
<script id="search-artifacts-div-tmpl" type="text/html">
    <div id="search-artifacts-div" data-bind='template:{name:"search-artifacts-form-tmpl"}'>
    </div>
</script>

<script id="search-artifacts-form-tmpl" type="text/html">

  <div class="page-header">
    <h3>${$.i18n.prop('search.artifact.header')}</h3>
  </div>
  <div id="search-artifacts-tabs">
    <div class="tabbable tabs-below">
      <ul class="nav nav-tabs">
        <li class="active" id="search-form-collapse-li">
          <a data-toggle="tab" href="#search-form-collapse">${$.i18n.prop('search.artifact.form.header')}</a>
        </li>
          <li id="search-results-li">
            <a data-toggle="tab" href="#search-results">${$.i18n.prop('search.artifact.results.header')}</a>
          </li>
      </ul>
      <div class="tab-content">

      <div id="search-form-collapse" class="tab-pane active">
        <div class="tabbable tabs-below">
          <ul class="nav nav-pills">
            <li class="active">
              <a href="#search-basic-form-pane" data-toggle="tab">${$.i18n.prop('search.artifact.search.form.basic')}</a>
            </li>
            <li>
              <a href="#search-advanced-form-pane" data-toggle="tab">${$.i18n.prop('search.artifact.search.form.advanced')}</a>
            </li>
            <li>
              <a href="#search-osgi-form-pane" data-toggle="tab">${$.i18n.prop('search.artifact.search.form.osgi')}</a>
            </li>
          </ul>
          <div class="pill-content">
            <div class="pill-pane active" id="search-basic-form-pane">
              <form class="well form-inline" id="search-basic-form">
                <fieldset>
                  <div class="control-group" id="search-basic-repositories">
                    <select data-placeholder="${$.i18n.prop('search.artifact.search.form.query.repositories')}"
                            id="search-basic-repostories-select" class="chzn-select"
                            multiple style="width:350px;" tabindex="4">
                      <option value="all">${$.i18n.prop('search.artifact.search.form.repositories.all')}</option>
                      {{each(i,repoId) observableRepoIds}}
                        <option value="${repoId}">${repoId}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="search-terms"></label>
                    <div class="controls">
                      <input type="text" class="input-medium search-query" id="search-terms" name="search-terms" size="50"
                             data-bind="value: searchRequest().queryTerms" placeholder="${$.i18n.prop('search.artifact.search.form.query.terms')}"/>
                    </div>
                  </div>
                  <button type="submit" id="btn-basic-search" class="btn btn-primary"
                          data-loading-text="${$.i18n.prop('search.artifact.searching')}" data-bind="click: basicSearch">${$.i18n.prop('search.artifact.search.form.btn.search')}</button>
                </fieldset>
              </form>
            </div>
            <div class="pill-pane" id="search-advanced-form-pane">
                <form class="well form-horizontal" id="search-advanced-form">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="groupId">${$.i18n.prop('search.artifact.search.form.query.groupId')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="groupId" name="groupId" size="50"
                               data-bind="value: searchRequest().groupId"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="artifactId">${$.i18n.prop('search.artifact.search.form.query.artifactId')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="artifactId" name="artifactId" size="50"
                               data-bind="value: searchRequest().artifactId"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="artifactId">${$.i18n.prop('search.artifact.search.form.query.version')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="version" name="version" size="50"
                               data-bind="value: searchRequest().version"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="artifactId">${$.i18n.prop('search.artifact.search.form.query.classifier')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="classifier" name="classifier" size="50"
                               data-bind="value: searchRequest().classifier"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="artifactId">${$.i18n.prop('search.artifact.search.form.query.packaging')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="packaging" name="packaging" size="50"
                               data-bind="value: searchRequest().packaging"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="artifactId">${$.i18n.prop('search.artifact.search.form.query.className')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="className" name="className" size="50"
                               data-bind="value: searchRequest().className"/>
                      </div>
                    </div>

                  </fieldset>
                  <button type="submit" id="btn-advanced-search" class="btn btn-primary"
                          data-bind="click: advancedSearch">${$.i18n.prop('search.artifact.search.form.btn.search')}</button>

                </form>
            </div>
            <div class="pill-pane" id="search-osgi-form-pane">
                <form class="well form-horizontal" id="search-osgi-form">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="groupId">${$.i18n.prop('search.artifact.search.form.query.bundleSymbolicName')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="bundleSymbolicName" name="bundleSymbolicName" size="50"
                               data-bind="value: searchRequest().bundleSymbolicName"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="groupId">${$.i18n.prop('search.artifact.search.form.query.bundleVersion')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="bundleVersion" name="bundleVersion" size="50"
                               data-bind="value: searchRequest().bundleVersion"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="groupId">${$.i18n.prop('search.artifact.search.form.query.bundleExportPackage')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="bundleExportPackage" name="bundleExportPackage" size="50"
                               data-bind="value: searchRequest().bundleExportPackage"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="groupId">${$.i18n.prop('search.artifact.search.form.query.bundleExportService')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="bundleExportService" name="bundleExportService" size="50"
                               data-bind="value: searchRequest().bundleExportService"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="groupId">${$.i18n.prop('search.artifact.search.form.query.bundleImportPackage')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="bundleImportPackage" name="bundleImportPackage" size="50"
                               data-bind="value: searchRequest().bundleImportPackage"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="groupId">${$.i18n.prop('search.artifact.search.form.query.bundleRequireBundle')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="bundleRequireBundle" name="bundleRequireBundle" size="50"
                               data-bind="value: searchRequest().bundleRequireBundle"/>
                      </div>
                    </div>
                  </fieldset>
                  <button type="submit" id="btn-osgi-search" class="btn btn-primary"
                          data-bind="click: advancedSearch">${$.i18n.prop('search.artifact.search.form.btn.search')}</button>

                </form>
            </div>
          </div>
        </div>
      </div>


      <div id="search-results" class="tab-pane">
        <div class="row">
          <div class="span3">
            <a href="#" class="btn btn-warning" data-bind="click: removeFilter" id="remove-filter-id">${$.i18n.prop('search.artifact.result.filter')}</a>
          </div>
          <div class="span4" id="search-result-number-div">

          </div>
        </div>
        <table class="table table-striped table-bordered" id="search-results-grid">
        </table>
        <div id="search-results-view-grid-pagination"></div>
      </div>

      </div>
    </div>
  </div>

</script>

<script type="text/html" id="search-result-number-div-tmpl">
  <blockquote>
      ${$.i18n.prop('search.artifact.result.size')}:&nbsp;${resultViewModel.artifacts().length}
  </blockquote>

</script>

<script id="search-results-view-grid-tmpl" type="text/html">
    <thead>
        <tr>
          {{each(i, columnDefinition) columns}}
            <th title="${ columnDefinition.title }">${ columnDefinition.headerText }</th>
          {{/each}}
        </tr>
        <tr>
          {{each(i, columnDefinition) columns}}
            <th title="${ columnDefinition.title }">
              <input type="text" class="form-search" id="search-filter-auto-${ columnDefinition.id }"
                     placeholder="${$.i18n.prop('search.artifact.result.grid.filter')}"/>
            </th>
          {{/each}}
        </tr>
    </thead>
    <tbody>
        {{each(i, row) itemsOnCurrentPage()}}
            <tr>
              {{each(j, columnDefinition) columns}}
                <td>${ typeof columnDefinition.rowText == 'function' ? columnDefinition.rowText(row) : row[columnDefinition.rowText] }</td>
              {{/each}}
            </tr>
        {{/each}}
    </tbody>
</script>


<script id="selected_repository_tmpl" type="text/html">
  <select id="repository">
    {{each(i,repository) repositories}}
    <option value="${repository}">${repository}</option>
    {{/each}}
  </select>
</script>