<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<script id="browse-tmpl" type="text/html">
  <div>
    <div class="page-header">
      <h2>${$.i18n.prop('browse.repository')}</h2>
    </div>
  </div>
  <div id="main_browse_result">
    <div id="main_browse_result_content" class="well">
      <div id="browse_breadcrumb" data-bind='template:{name:"browse-breadcrumb-tmpl"}'></div>
      <div id="browse_result" class="well" data-bind='template:{name:"browse-groups-tmpl"}'></div>
    </div>
  </div>
</script>

<script id="browse-groups-div-tmpl" type="text/html">
  <div id="browse-groups-div" data-bind='template:{name:"browse-groups-tmpl"}'>

  </div>
</script>

<script id="browse-groups-tmpl" type="text/html">
  <div>
    <ul>
      <!-- if null we are on root level -->
      {{if $root.parentBrowseViewModel}}
        <li class="browse-list" data-bind="click:function(){displayParentGroupId()}">
          <a href="#">..</a>
        </li>
      {{/if}}
      {{each(i,browseResultEntry) browseResultEntries}}
        <li class="browse-list" data-bind="click:function(){displayGroupId(browseResultEntry.name)}">
          <a href="#">
            &nbsp;${browseResultEntry.name} (project: ${browseResultEntry.project})
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</script>

<script id="browse-breadcrumb-tmpl" type="text/html">
  <ul class="breadcrumb">
    <li><a href="#" data-bind="click: function(){ browseRoot()}"><i class="icon-home"/>&nbsp;</a>&nbsp;<span class="divider">/</span></li>
    {{each(i,breadCrumbEntry) breadCrumbEntries}}
      <li><a href="#">${breadCrumbEntry}</a>&nbsp;<span class="divider">/</span></li>
    {{/each}}
  </ul>
</script>