<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<script id="browse-tmpl" type="text/html">
  <div>
    <div class="page-header">
      <h2>${$.i18n.prop('browse.repository')}</h2>
    </div>
  </div>
  <div id="main_browse_result">
    <div id="main_browse_result_content" class="well">
      <div id="browse_breadcrumb" data-bind='template:{name:"browse-breadcrumb-tmpl"}'></div>
      <div id="browse_result" class="well" data-bind='template:{name:"browse-groups-tmpl"}'></div>
      <div id="browse_artifact" class="well" data-bind='template:{name:"browse-artifact-tmpl"}'></div>
    </div>
  </div>
</script>

<script id="browse-groups-div-tmpl" type="text/html">
  <div id="browse-groups-div" data-bind='template:{name:"browse-groups-tmpl"}'>

  </div>
</script>

<script id="browse-groups-tmpl" type="text/html">
  <div>
    <ul>
      <!-- if null we are on root level -->
      {{if $root.parentBrowseViewModel}}
        <li class="browse-list" data-bind="click:function(){displayParentGroupId()}">
          <a href="#">..</a>
        </li>
      {{/if}}
      {{each(i,browseResultEntry) browseResultEntries}}
        {{if browseResultEntry.project=='true'}}
          <li class="browse-list-project" title="artifact" data-bind="click:function(){displayProjectEntry(browseResultEntry.name)}">
        {{else}}
          <li class="browse-list" data-bind="click:function(){displayGroupId(browseResultEntry.name)}">
        {{/if}}
          <a href="#">
            &nbsp;${displayEntry(browseResultEntry.name)}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</script>

<script id="browse-breadcrumb-tmpl" type="text/html">
  <ul class="breadcrumb">
    <li>
      <a href="#" data-bind="click: function(){ browseRoot()}">
        <!--img src="images/go-home.png"/-->
        <i class="icon-home"/>&nbsp;</a>&nbsp;<span class="divider">/</span>
    </li>
    {{var number=breadCrumbEntries().length}}
    {{each(i,breadCrumbEntry) breadCrumbEntries}}
      <li>
        {{if i==number-1}}
          ${breadCrumbEntry.displayValue}
        {{else}}
          <a href="#" data-bind="click: function(){displayGroupId(breadCrumbEntry.groupId)}">${breadCrumbEntry.displayValue}</a>
        {{/if}}
        {{if i<number-1}}
          <span class="divider">/</span>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</script>

<script id="browse-artifact-tmpl" type="text/html">
  <div class="row-fluid">
    <div>
      <a href="#" data-bind="click: function(){displayArtifactInfo()}">
          ${$.i18n.prop('browse.artifact.display.artifactInfo')}
      </a>
    </div>
    <br/>
    <div id="artifact-info" class="alert alert-info" style="display: none">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th>${$.i18n.prop('browse.artifact.groupId')}</th>
            <td>${groupId}</td>
          </tr>
          <tr>
            <th>${$.i18n.prop('browse.artifact.artifactId')}</th>
            <td>${artifactId}</td>
          </tr>
          <tr>
            <th>${$.i18n.prop('browse.artifact.name')}</th>
            <td>${projectVersionMetadata.name}</td>
          </tr>
          <tr>
            <th>${$.i18n.prop('browse.artifact.description')}</th>
            <td>${projectVersionMetadata.description}</td>
          </tr>
          {{if projectVersionMetadata.organization}}
          <tr>
            <th>${$.i18n.prop('browse.artifact.organization.name')}</th>
            {{if projectVersionMetadata.organization.url}}
              <td><a href="${projectVersionMetadata.organization.url}" target="_blank">${projectVersionMetadata.organization.name}</a></td>
            {{else}}
              <td>${projectVersionMetadata.organization.name}</td>
            {{/if}}
          </tr>
          {{/if}}
          {{if projectVersionMetadata.issueManagement}}
          <tr>
            <th>${$.i18n.prop('browse.artifact.organization.issueManagement')}</th>
            <td><a href="${projectVersionMetadata.issueManagement.url}" target="_blank">${projectVersionMetadata.issueManagement.system}</a></td>
          </tr>
          {{/if}}
        </tbody>
      </table>
    </div>

    <div class="page-header">
      <h4>${$.i18n.prop('browse.artifact.versions')}</h4>
    </div>

    <div>
      <ul>
      {{each(i,version) versions}}
        <li>${version}</li>
      {{/each}}
      </ul>
    </div>
  </div>
</script>

<script id="search-artifacts-form" type="text/html">
  <div class="page-header">
    <h3>${$.i18n.prop('search.artifact.header')}</h3>
  </div>
  <div class="accordion" id="search-artifacts-accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" href="#search-form-collapse" data-parent="#search-artifacts-accordion" data-toggle="collapse">${$.i18n.prop('search.artifact.form.header')}</a>
        </div>
        <div id="search-form-collapse" class="accordion-body collapse in">
          <div class="tabbable tabs-below">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#search-basic-form-pane" data-toggle="tab">${$.i18n.prop('search.artifact.search.form.basic')}</a>
              </li>
              <li>
                <a href="#search-advanced-form-pane" data-toggle="tab">${$.i18n.prop('search.artifact.search.form.advanced')}</a>
              </li>
              <li>
                <a href="#search-osgi-form-pane" data-toggle="tab">${$.i18n.prop('search.artifact.search.form.osgi')}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="search-basic-form-pane">
                <form class="well form-horizontal" id="search-basic-form">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="search-terms">${$.i18n.prop('search.artifact.search.form.query.terms')}</label>
                      <div class="controls">
                        <input type="text" class="input-medium search-query" id="search-terms" name="search-terms" size="50"
                               data-bind="value: managedRepository.name"/>
                      </div>
                    </div>
                  </fieldset>
                  <button type="submit" class="btn">Search</button>
                </form>
              </div>
              <div class="tab-pane" id="search-advanced-form-pane">
                <p>advanced search form.</p>
              </div>
              <div class="tab-pane" id="search-osgi-form-pane">
                <p>osgi search form.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-heading">
          <a class="accordion-toggle" href="#search-results" data-parent="#search-artifacts-accordion" data-toggle="collapse">${$.i18n.prop('search.artifact.results.header')}</a>
        </div>
        <div id="search-results" class="accordion-body collapse">
          results
        </div>
    </div>
</script>