<div id="topbar-menu">
<div class="topbar-wrapper" style="z-index: 5;">
<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container-fluid">
      <h4 class="brand"><a href="index.html">Archiva</a></h4>
      <ul class="nav secondary-nav">
        <li id="create-admin-link" style="display: none">
          <a href="#" onclick="adminCreateBox();" id="create-admin-link-a">${$.i18n.prop('create.admin.page.link')}</a>
        </li>
        <li id="login-link" style="display: none">
          <a href="#" onclick="loginBox();" id="login-link-a">
            <span class="label success">${login}</span>
          </a>
        </li>
        <li id="change-password-link" style="">
          <a href="#" onclick="editUserDetailsBox();">${$.i18n.prop('edit.details')}</a>
        </li>
        <li id="logout-link" style="display: none">
          <a href="#" onclick="logout();" id="logout-link-a">
            <span class="label important">${logout}</span>
          </a>
        </li>
        <li id="register-link" style="display: none">
          <a href="#" onclick="registerBox();">
            <span class="label notice">${register}</span>
          </a>
        </li>
      </ul>
      <form class="pull-right" action="">
        <input type="text" placeholder="Search" />
      </form>
    </div>
  </div>
</div>
</div>
</div>